/*
	cssĵע
	Level:			css样式级别 Global, Channel, Function
	Explain:		css样式
	Last Modify:	Alex

*/
/*-------------------------------------------------------*/
/*
	Level:			Global
	Explain:		全局通用样式
	Last Modify:	Alex
*/
	* { word-wrap: break-word;}
	body { font-family: "Microsoft Yahei"; font-size: 12px; color: #333; min-height: 100%; background: url(../img/background1.png) repeat;}
	body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
	ul li { list-style: none; }
	a { color: #3BB; text-decoration: none; outline: none;}
		body a:hover { text-decoration: none; }
		img { border: none; background-color: #333;}
	label { cursor: pointer; }
	input { font-family: "Microsoft Yahei"; -webkit-appearance:none;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;}
	
/*
	Level:			Global
	Explain:		body宽度
	Last Modify:	Alex
*/
	.wp { width: 100%;}
	.w1001 { margin: 0 auto; width: 1000px;}
	.wp1000 { margin: 0 auto; width: 1202px;}
	.w800 { width: 800px;}
	.w200 { width: 200px;}
	.w490 { width: 590px;}
	.w640 { width: 640px;}
	.w336 { width: 336px;}
	.w400 { width: 400px;}

/*
	Level:			Global
	Explain:		浮动
	Sample:			class="z/y"
	Last Modify:	Alex
*/
	.z { float: left;}
	.y { float: right;}
	
/*
	Level:			Global
	Explain:		清除浮动
	Sample:			class="cl"
	Last Modify:	Alex
*/
	.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
	.cl { zoom: 1;}
	
/*
	Level:			Global
	Explain:		顶部边距
	Last Modify:	Alex
*/
	.mgt10 { margin-top: 10px;}
	.mgt20 { margin-top: 20px;}
	.mgt40 { margin-top: 40px;}
	.mgt60 { margin-top: 60px;}
	.mgt100{ margin-top: 100px;}
	.pdt40 { padding-top: 40px;}
/*
	Level:			Global
	Explain:		分割线
	Last Modify:	Alex
*/
	.tr460 { border-top: 1px solid #E2E2E2; width: 460px;}


/*
	Level:			Global
	Explain:		到顶图标
	Last Modify:	Alex
*/
.ue-main-icon { width: 40px; position: fixed; bottom: 49px; right: 0px; z-index:1200;}
.ue-main-icon a { display: block; height: 40px; width: 40px; }
	#ue-main-gotop { background: url(../img/icon-hd.png) -25px -104px no-repeat;}
		#ue-main-gotop:hover { background: url(../img/icon-hd.png) -25px -154px no-repeat;}
	#ue-main-tip { background: url(../img/icon-hd.png) -75px -104px no-repeat;}
		#ue-main-tip:hover  { background: url(../img/icon-hd.png) -75px -154px no-repeat;}
	#ue-main-edit { background: url(../img/icon-hd.png) -125px -104px no-repeat;}
		#ue-main-edit:hover  { background: url(../img/icon-hd.png) -125px -154px no-repeat;}
	#ue-main-del { background: url(../img/icon-hd.png) -175px -104px no-repeat;}
		#ue-main-del:hover  { background: url(../img/icon-hd.png) -175px -154px no-repeat;}
	#ue-main-open { background: url(../img/icon-hd.png) -225px -104px no-repeat;}
		#ue-main-open:hover  { background: url(../img/icon-hd.png) -225px -154px no-repeat;}
	#ue-main-close { background: url(../img/icon-hd.png) -275px -104px no-repeat;}
		#ue-main-close:hover  { background: url(../img/icon-hd.png) -275px -154px no-repeat;}

/*
	Level:			Global
	Explain:		圆角样式
	Last Modify:	Alex 
*/

	.br5 { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
	.br10 {  -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	.br5bt { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;}
	.br10bt { -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px;}
	.br5tp { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;}
	
/*
	Level:			Global
	Explain:		文字阴影
	Last Modify:	Alex 
*/
	.en { font-family: 'Open Sans', Arial, sans-serif;  font-weight: bold;}
	.en1 { font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; text-shadow: 1px 1px 1px #FFF; }
	.bs { -webkit-box-shadow: 0px 0px 1px #CCC; -moz-box-shadow: 0px 0px 1px #CCC;}
	.bsy { -webkit-box-shadow: 0px 2px 4px #999; -moz-box-shadow: 0px 2px 4px #999;}
	.chs { text-shadow: 0px 1px 0px #FFF;}
	.chs1 { text-shadow: -1px -1px 1px #333;}

/*
	Level:			Global
	Explain:		广告位
	Last Modify:	Alex
*/
	.yz-ad-336-280 { height: 280px; width: 336px; overflow: hidden;}
	.yz-ad-640-300 { height: 300px; width: 640px; overflow: hidden; }
	.yz-ad-640-60 { height: 60px; width: 640px; overflow: hidden;}


/*
	Level:			Global
	Explain:		翻页页数
	Last Modify:	Alex
*/
        .yz-page {height:42px;width:610px;text-align:center;}
	.yz-page-a { font-family: Arial, Helvetica, sans-serif;margin:0 5px; padding:10px; text-align: center; font-size: 16px; background: #F2F2F2; color: #333; border: 1px solid #CCC; font-weight: bold; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis; -webkit-transition: all 200ms;}
        .yz-page-scroll {padding:10px 15px !important;}
        .yz-page-focus { background: #3BB; color: #FFF; border: 1px solid #3BB;}
	.yz-page-a:hover { background: #666; color: #FFF; border: 1px solid #3BB;}
/*
	Level:			Global
	Explain:		footer
	Last Modify:	Alex
*/
.yz-idx-shengming { line-height: 50px; text-align: center; font-size: 14px; color: #666;}
	.yz-ftbg { position: relative; height: 300px; min-width: 1242px;  z-index: 999;  overflow: hidden; border-top: 1px solid #BBB; background: #333;}
	.yz-ftline { position: absolute; height: 40px; bottom: -2px; left: 0px;  background: #333; border: 1px solid #000; }
		.yz-ftline>div { width: 100%; height: 39px; border-top: 1px solid #666;}
		.yz-ftline span,.yz-ftline a { line-height: 39px; margin-right: 10px; color: #666;}
		.yz-ftline a:hover { color: #FFF;}
	.yz-ft { height: 262px; position: relative; overflow: hidden;}
		.yz-ft-1 { width: 230px;}
		.yz-ft-tt { font-size: 16px; line-height: 50px; height: 50px; padding-left: 50px; width: 190px; margin-top: 20px; color: #FFF; text-shadow: 1px 1px 1px #000;}
			.yz-ft-1 li { margin-left: 50px; width: 170px; height: 30px; line-height: 30px; float: left; border-bottom: 1px dotted #666;}
				.yz-ft-1 li a { color: #999; text-shadow: 1px 1px 0px #000;}
					.yz-ft-1 li a:hover { color: #FFF;}
		.yz-ft-type-1 { background: url(../img/index.png) -436px -327px no-repeat;}
		.yz-ft-type-2 { background: url(../img/index.png) -436px -388px no-repeat;}
		.yz-ft-type-3 { background: url(../img/index.png) -436px -448px no-repeat;}
		.yz-ft-type-4 { background: url(../img/index.png) -436px -509px no-repeat;}
	#html5 { padding: 5px 13px; height: 28px;width: 26px; background: url(../img/html5.png) no-repeat;}
	#w3c { padding: 5px 21px; height: 28px; width: 42px; background: url(../img/w3c.png) no-repeat;}

/*
	Level:			Global
	Explain:		header
	Last Modify:	Alex
*/
	.yz-hdbg { position: relative; height: 140px; min-width: 1242px;  z-index: 999; border-bottom: 1px solid #CCC;}
	.yz-hdline { position: absolute; height: 10px; top: 0px; left: 0px;  background: #333; }
	.yz-hd { height: 142px; position: relative; }
	.logo { position: absolute; top: 5px; display: block; background: url(../img/logo.png) 0px 0px no-repeat; width: 196px; height: 130px; }
		a.logo:hover { background: url(../img/logo.png) 0px 130px; }
		.logo span { position: absolute; top: 50px; right: 1px; display: none; background: url(../img/icon-hd.png) -438px -26px no-repeat; padding-left: 15px; height: 12px; overflow: hidden; line-height: 10px; font-size: 12px; color: #333; width: 40px; padding-top: 1px; }
		a.logo:hover span { display: block;}
	.yz-nav { display: block; width: 480px; position: absolute; top: 42px; left: 250px; overflow: hidden;}
		.yz-nav li { float: left; padding: 10px 25px 10px 0;}
		.yz-nav li a:link,.yz-nav li a:visited { font-size: 19px; color: #000;  text-shadow: 1px 1px 1px #FFF;}
		.yz-nav li a:hover { color: #3BB; -webkit-transition: all 100ms;}
		.yz-nav li span { color: #333;}
/*会员已登陆*/
	.yz-member { width: 260px; height: 90px; margin-top: 30px;}
		.yz-avt { display: block; margin-top: 20px; width: 46px; height: 46px; background-color: #FFF; padding: 2px;}
		.yz-meb-btn { width: 200px; height: 35px;  margin-top: 28px; }
			.yz-meb-btn a { display: block; width: 35px; height: 35px; margin-left: 15px; float: left; }
			a.yz-meb-btn1 { background: url(../img/icon-hd.png) -23px -20px no-repeat;}
				a.yz-meb-btn1:hover { background: url(../img/icon-hd.png) -23px -60px no-repeat; }
			a.yz-meb-btn2 { background: url(../img/icon-hd.png) -68px -20px no-repeat;}
				a.yz-meb-btn2:hover { background: url(../img/icon-hd.png) -68px -60px no-repeat;}
			a.yz-meb-btn3 { background: url(../img/icon-hd.png) -113px -20px no-repeat; position: relative;}
				a.yz-meb-btn3:hover { background: url(../img/icon-hd.png) -113px -60px no-repeat;}
				.yz-newmsg { line-height: 14px; color: #FFF; padding: 0 2px; background-color: #F60; position: absolute; top: -6px; left: 28px;  height: 14px; white-space:nowrap;}
			a.yz-meb-btn4 { background: url(../img/icon-hd.png) -158px -20px no-repeat;}
				a.yz-meb-btn4:hover { background: url(../img/icon-hd.png) -158px -60px no-repeat;}

        .yz-member p.y {text-align:right;color:#000;line-height:30px;margin-top:12px;width:260px;font-size:12px;}
        .yz-member a.y {height:23px;line-height:23px; padding:0 8px;background:#FFF; border: 1px solid #3BB; color:#3BB;margin-left:10px;}
        .yz-member a.y:hover {background:#333; color: #FFF; border: 1px solid #999; -webkit-box-shadow:1px 1px #f1f1f1;-moz-box-shadow:1px 1px #f1f1f1;}

/*未登陆*/
			a.yz-meb-btn5 { background: url(../img/icon-hd.png) -249px -20px no-repeat;}
				a.yz-meb-btn5:hover { background: url(../img/icon-hd.png) -249px -60px no-repeat; }
			a.yz-meb-btn6 { background: url(../img/icon-hd.png) -294px -20px no-repeat;}
				a.yz-meb-btn6:hover { background: url(../img/icon-hd.png) -294px -60px no-repeat;}
			a.yz-meb-btn7 { background: url(../img/icon-hd.png) -341px -20px no-repeat; position: relative;}
				a.yz-meb-btn7:hover { background: url(../img/icon-hd.png) -341px -60px no-repeat;}
			a.yz-meb-btn8 { background: url(../img/icon-hd.png) -388px -20px no-repeat;}
				a.yz-meb-btn8:hover { background: url(../img/icon-hd.png) -388px -60px no-repeat;}
/*
	Level:			Global
	Explain:		翻页页数
	Last Modify:	Alex
*/
	.yz-page { height: 42px; width: 610px; text-align: center;}
	.yz-page a { font-family: Arial, Helvetica, sans-serif; padding: 10px; margin: 0 5px; text-align: center;  line-height: 40px; font-size: 16px; background: #F2F2F2; color: #333; border: 1px solid #CCC; font-weight: bold; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis; -webkit-transition: all 200ms;}
	.yz-page-scoll { padding: 10px 15px !important;}
	#yz-page-focus { background: #3BB; color: #FFF; border: 1px solid #3BB;}
	.yz-page a:hover { background: #666; color: #FFF; border: 1px solid #3BB;}

/*登陆弹出框*/
#login { width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 3000; background: url(../img/pngbg.png) repeat;}
	.login-border { height: 390px; width: 432px; position: absolute; top: 50%; left: 50%; margin-left: -216px; margin-top: -195px; background: url(../img/pngbg.png) repeat;}
	.login-email input,.login-psw input { float: left; outline: none; border: none; font-size: 16px; font-family: "Microsoft Yahei"; color: #999; background: none; padding: 0; line-height: 20px; height: 20px; margin: 10px 20px 0 70px; width: 280px;}
	.login-email,.login-psw { height: 40px; border: 1px solid #CCC; width: 370px; position: absolute; left: 20px;}
		.login-email { background: url(../img/register.png) -45px -258px no-repeat #FFF; top: 70px;}
		.login-psw { background: url(../img/register.png) -45px -366px no-repeat #FFF; top: 132px;}
	.login-title { width: 372px; font-size: 24px; font-weight: bold; line-height: 60px; height: 60px; padding: 0 20px;}
	.login-box { position: absolute; height: 370px; width: 412px; background: #FFF; top: 10px; left: 10px; z-index: 3002;}
	.login-code-tt { display: block; line-height: 20px; height: 20px; width: 372px; position: absolute; left: 20px; top: 199px; font-size: 14px;}
	.login-code-tt i { font-weight: bold; color: #3BB;}
	.login-code-box { width: 372px; height: 29px; position: absolute; left: 20px; top:231px; z-index: 3003;}
	.login-code { display: block; height: 29px; width: 28px; overflow: hidden; position: absolute; cursor: pointer;}
		.code-off-1 { background: url(../img/icon-hd.png) -26px -112px;}
		.code-off-2 { background: url(../img/icon-hd.png) -71px -112px;}
		.code-off-3 { background: url(../img/icon-hd.png) -116px -112px;}
		.code-off-4 { background: url(../img/icon-hd.png) -161px -112px;}
		.code-off-5 { background: url(../img/icon-hd.png) -206px -112px;}
		.code-off-6 { background: url(../img/icon-hd.png) -251px -112px;}
		.code-off-7 { background: url(../img/icon-hd.png) -296px -112px;}
		.code-off-8 { background: url(../img/icon-hd.png) -341px -112px;}
		.code-off-9 { background: url(../img/icon-hd.png) -386px -112px;}
		.code-on-1 { background: url(../img/icon-hd.png) -26px -152px;}
		.code-on-2 { background: url(../img/icon-hd.png) -71px -152px;}
		.code-on-3 { background: url(../img/icon-hd.png) -116px -152px;}
		.code-on-4 { background: url(../img/icon-hd.png) -161px -152px;}
		.code-on-5 { background: url(../img/icon-hd.png) -206px -152px;}
		.code-on-6 { background: url(../img/icon-hd.png) -251px -152px;}
		.code-on-7 { background: url(../img/icon-hd.png) -296px -152px;}
		.code-on-8 { background: url(../img/icon-hd.png) -341px -152px;}
		.code-on-9 { background: url(../img/icon-hd.png) -386px -152px;}
	.login-bt { outline: none; border: none; width: 372px; height: 40px; background: #666; color: #FFF; font-size: 14px;  position: absolute; left: 20px; top: 285px; cursor: pointer; border-bottom: 1px solid #CCC; z-index: 3004;}
	.login-bt:hover { background: #3BB;}
	.login-forget-psw { display: block; line-height: 20px; height: 20px; position: absolute; right: 20px; bottom: 10px; color: #666; -webkit-transition: all 400ms;}
	a.login-forget-psw:hover {  color: #F30;}