
/*
	Level:			Global
	Explain:		全局
	Last Modify:	Alex
*/
	* { word-wrap: break-word;}
	body { font-family: "Microsoft Yahei"; font-size: 12px; color: #333; min-height: 100%; background: url(http://static.ueue.cc/www/img/background1.png) repeat;}
	body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
	ul li { list-style: none; }
	a { color: #3BB; text-decoration: none; outline: none;}
		body a:hover { text-decoration: none; }
		img { border: none; background-color: #333;}
	label { cursor: pointer; }
	input { font-family: "Microsoft Yahei"; -webkit-appearance:none;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;}
	
/*
	Level:			Global
	Explain:		body宽度
	Last Modify:	Alex
*/
	.wp { width: 100%;}
	.wp640 { margin: 0 auto; width: 640px; position: relative; z-index: 999; top: 0;}
	.wp1000,.wp1202 { margin: 0 auto; width: 1202px;}
	.ue-user-allbody { min-width:1240px;width: 100%; height: 100%; opacity: 0.7; filter: alpha(opacity=70); top: 0; left: 0; background-color: black; position: fixed !important; z-index: 249;}
	.yz-edbd { background: #fff;}
	.user-close-window {display: block; width: 70px; height: 70px; position: fixed; top: 0px; right: 0px; background: url(http://static.ueue.cc/www/img/report.png) -197px -35px no-repeat; cursor: pointer; z-index: 1005;}
.user-close-window:hover { background: url(http://static.ueue.cc/www/img/report.png) -310px -35px no-repeat;}

/*
	Level:			Global
	Explain:		浮动
	Sample:			class="z/y"
	Last Modify:	Alex
*/
	.z { float: left;}
	.y { float: right;}
	
/*
	Level:			Global
	Explain:		清除浮动
	Sample:			class="cl"
	Last Modify:	Alex
*/
	.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
	.cl { zoom: 1;}
	
/*
	Level:			Global
	Explain:		顶部边距
	Last Modify:	Alex
*/
	.mgt10 { margin-top: 10px;}
	.mgt20 { margin-top: 20px;}
	.mgt40 { margin-top: 40px;}
	.mgt60 { margin-top: 60px;}
	.mgt100{ margin-top: 100px;}


/*
	Level:			Global
	Explain:		header
	Last Modify:	Alex
*/
	.yz-hdbg { position: fixed; height: 140px; min-width: 1242px; background: url(http://static.ueue.cc/www/img/background1.png) repeat;  z-index: 1; border-bottom: 1px solid #CCC; top: 0; }
	.ue-hdbg-editor {display:none;}
	.yz-hdline { position: absolute; height: 10px; top: 0px; left: 0px;  background: #333; }
	.yz-hd { height: 142px; position: relative; }
	.logo { position: absolute; top: 5px; display: block; background: url(http://static.ueue.cc/www/img/logo.png) 0px 0px no-repeat; width: 196px; height: 130px; }
		a.logo:hover { background: url(http://static.ueue.cc/www/img/logo.png) 0px 130px; }
		.logo span { position: absolute; top: 50px; right: 1px; display: none; background: url(http://static.ueue.cc/www/img/icon-hd.png) -438px -26px no-repeat; padding-left: 15px; height: 12px; overflow: hidden; line-height: 10px; font-size: 12px; color: #333; width: 40px; padding-top: 1px; }
		a.logo:hover span { display: block;}
	.yz-nav { display: block; width: 480px; position: absolute; top: 42px; left: 250px; overflow: hidden;}
		.yz-nav li { float: left; padding: 10px 25px 10px 0;}
		.yz-nav li a:link,.yz-nav li a:visited { font-size: 19px; color: #000;  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);}
		.yz-nav li a:hover { color: #3BB; -webkit-transition: all 100ms;}
		.yz-nav li span { color: #333;}
/*会员已登陆*/
	.yz-member { width: 260px; height: 90px; margin-top: 30px;}
		.yz-avt { display: block; margin-top: 20px; width: 46px; height: 46px; background-color: #FFF; padding: 2px;}
		.yz-meb-btn { width: 200px; height: 35px;  margin-top: 28px; }
			.yz-meb-btn a { display: block; width: 35px; height: 35px; margin-left: 15px; float: left; }
			a.yz-meb-btn1 { background: url(http://static.ueue.cc/www/img/icon-hd.png) -23px -20px no-repeat;}
				a.yz-meb-btn1:hover { background: url(http://static.ueue.cc/www/img/icon-hd.png) -23px -60px no-repeat; }
			a.yz-meb-btn2 { background: url(http://static.ueue.cc/www/img/icon-hd.png) -68px -20px no-repeat;}
				a.yz-meb-btn2:hover { background: url(http://static.ueue.cc/www/img/icon-hd.png) -68px -60px no-repeat;}
			a.yz-meb-btn3 { background: url(http://static.ueue.cc/www/img/icon-hd.png) -113px -20px no-repeat; position: relative;}
				a.yz-meb-btn3:hover { background: url(http://static.ueue.cc/www/img/icon-hd.png) -113px -60px no-repeat;}
				.yz-newmsg { line-height: 14px; color: #FFF; padding: 0 2px; background-color: #F60; position: absolute; top: -6px; left: 28px;  height: 14px; white-space:nowrap;}
			a.yz-meb-btn4 { background: url(http://static.ueue.cc/www/img/icon-hd.png) -158px -20px no-repeat;}
				a.yz-meb-btn4:hover { background: url(http://static.ueue.cc/www/img/icon-hd.png) -158px -60px no-repeat;}

        .yz-member p.y {text-align:right;color:#000;line-height:30px;margin-top:12px;width:260px;font-size:12px;}
        .yz-member a.y {height:23px;line-height:23px; padding:0 8px;background:#FFF; border: 1px solid #3BB; color:#3BB;margin-left:10px;}
        .yz-member a.y:hover {background:#333; color: #FFF; border: 1px solid #999; -webkit-box-shadow:1px 1px #f1f1f1;-moz-box-shadow:1px 1px #f1f1f1;}
		
		.editor-title-tag { position: absolute; top: 0; left: -100px; display: block; width: 80px; height: 42px; padding: 0 10px; font-size: 18px; line-height: 42px; background: #3bb; color: #fff; text-align: right;}
		
		

.yz-editorbody { background: url(http://static.ueue.cc/www/img/background2.png) repeat; height: auto; min-width: 1242px;}
input { background: none;}
.ue-editor-btn { margin-left: 50px; margin-top: 40px; height: 90px; line-height: 40px;}
	.ue-editor-btn a { border: 1px solid #CCC; padding: 5px 10px;  color: #333;}
		.ue-editor-btn a:hover,.ue-editor-btn a.active { background: #3BB; color: #FFF; -webkit-transition: all 500ms;}
.editor-btn { margin-left: 50px; margin-top: 30px;}
	.editor-btn a { width: 90px; height: 90px; overflow: hidden; margin-right: 45px;}
		.editor-btn1 { background: url(http://static.ueue.cc/www/img/editor.png) 0 -96px no-repeat;}
			a.editor-btn1:hover,.editor-btn1on { background: url(http://static.ueue.cc/www/img/editor.png) -97px -96px no-repeat;}
		.editor-btn2 { background: url(http://static.ueue.cc/www/img/editor.png) 0 0 no-repeat;}
			a.editor-btn2:hover,.editor-btn2on { background: url(http://static.ueue.cc/www/img/editor.png) -97px 0 no-repeat;}
		.editor-btn3 { background: url(http://static.ueue.cc/www/img/editor.png) 0 -191px no-repeat;}
			a.editor-btn3:hover,.editor-btn3on { background: url(http://static.ueue.cc/www/img/editor.png) -97px -191px no-repeat;}
		.editor-btn4 { background: url(http://static.ueue.cc/www/img/editor.png) 0 -286px no-repeat;}
			a.editor-btn4:hover,.editor-btn4on { background: url(http://static.ueue.cc/www/img/editor.png) -97px -286px no-repeat;}
		.editor-btn5 { background: url(http://static.ueue.cc/www/img/editor.png) 0 -381px no-repeat;}
			a.editor-btn5:hover,.editor-btn5on { background: url(http://static.ueue.cc/www/img/editor.png) -97px -381px no-repeat;}
.editor-bk { width: 90px; height: 90px; margin-top: 30px;}
.editor-back { display: block; width: 90px; height: 90px; background: url(http://static.ueue.cc/www/img/editor.png) -97px -482px;  cursor: pointer; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	a.editor-back:hover { background: url(http://static.ueue.cc/www/img/editor.png) -97px -863px;}
.editor-title,.editor-url { padding: 0 20px; position: relative;}
.editor-title input,.editor-url input { height: 20px; outline: none; border: 1px solid #CCC; width: 578px; padding: 10px; font-size: 14px; font-family: "Microsoft Yahei"; color: #999; line-height: 20px; background: none; }
	.editor-url { padding-bottom: 20px;}
	.editor-title input:focus { border: 1px solid #3BB; -webkit-transition: all 500ms;}
.editor-pic { position: relative;}
	.editor-pic ul {}
		.editor-pic li { padding: 0 20px 20px 20px; width: 600px; position: relative; float: left; margin-bottom: 10px;}
	.editor-pic-img { height: 100px; width: 100px; overflow: hidden;border: 1px solid #ccc; position: relative; cursor: pointer;}
		.editor-pic-img img { max-height: 100px; }
	
	.editor-pic-text { height: 100px; width: 497px; border: 1px solid #ccc; border-left: none !important;}
		.editor-pic-text textarea { outline: none; resize: none; width: 460px; height: 78px; border: none; padding: 10px; font-size: 14px; font-family: "Microsoft Yahei"; color: #666; overflow: hidden; background: none;}
	.editor-pic-del { display: block; position: absolute; top: 5px; right: 23px; height: 20px; width: 20px; background: url(http://static.ueue.cc/www/img/editor.png) 0 -491px; cursor: pointer;}
		.editor-pic-del:hover { opacity: 0.7; filter: alpha(opacity=70);}
	.editor-pic-move { display: block; background: url(http://static.ueue.cc/www/img/editor.png) 0 -525px; width: 100px; height: 50px; margin-left: 20px; cursor: move;}
	.editor-pic-front { height: 94px; width: 94px; border: 3px solid #3bb; position: absolute; left: 0; top: 0; display: block; cursor: pointer;}
		a.editor-pic-front span { display: none; height: 30px; width: 100px; position: absolute; top: 0; left: -5px; background: url(http://static.ueue.cc/www/img/editor.png) 0 -617px;}
			a.editor-pic-front .active { display: block ! important; background: url(http://static.ueue.cc/www/img/editor.png) 0 -580px ! important;}
			a.editor-pic-front:hover span { display: block ! important; background: url(http://static.ueue.cc/www/img/editor.png) 0 -580px ! important; } 
	.editor-pic-imgname { width: 530px; height: 20px; line-height: 20px;  overflow: hidden; color: #666;}
		.editor-pic-imgname a { text-decoration: underline; cursor: pointer;}
	.editor-pic-rate { width: 50px; height: 20px; line-height: 20px; text-align: center;}
	.editor-pic-add {}
	.swfuploaddiv { position: relative; margin-left: 20px; width: 120px; height: 40px; cursor: pointer;}
.swfuploaddiv>div { position: absolute; top: 0; left: 0; width: 120px; height: 40px; z-index: 999; filter:alpha(oapacit=0); opacity: 0;}
	.editor-add-pic { height: 40px; width: 120px; line-height: 40px; font-size: 14px; color: #FFF; cursor: pointer; position: relative; overflow: hidden; text-align: center; background: #333; }
			a.editor-add-pic:hover { background: #3BB; -webkit-transition: all 500ms;}
	.editor-add-pic span { display: block; height: 40px; width: 200px; height: 50px; position: absolute; top: 0px; right: 0px;}
	.editor-add-pic input.editor-pic-addbtn { cursor: pointer; outline: none; border: solid; border-width: 0 0 100px 100px; color: #FFF; position: absolute; top: 0; right: 0;  opacity: 0; filter:alpha(opacity=0);}
		
	.editor-pic-add p { line-height: 40px; width: 600px;color: #666; margin-left: 20px;}
.editor-description {  padding-bottom: 20px; position: relative;}
.editor-description-left { padding: 0 10px 20px; width: 316px;}
	.editor-desc-title { height: 50px; width: 620px; }
	.editor-desc-title-p { line-height: 50px; padding-left: 20px; color: #999; font-size: 24px;} 
		.editor-desc-title-p span { font-size: 14px !important; font-weight: normal !important;}
.editor-zhaomu { height: 42px; width: 598px; background: #333;}
	.editor-zhaomu-name { width: 298px; height: 42px;}
	.editor-zhaomu-name>p>span { color: #fff; background: #3bb; float: left; width: 80px; padding: 0 10px; height: 42px; line-height: 42px;}
	.editor-zhaomu-name>p>input { height: 22px; outline: none; border: none; width: 176px; padding: 5px; margin: 5px; font-size: 14px; font-family: "Microsoft Yahei"; color: #fff; line-height: 22px; background: none;}
	.editor-zhaomu-name>p>input:focus { background: #fff; color: #333; -webkit-transition: all 500ms;}
	
	.editor-zhaomu-choose { width:150px; height: 42px; color: #3bb; float: left; line-height: 42px; position: relative; cursor: pointer;}
		.editor-zhaomu-choose>p>span { float: left; width: 90px; padding: 0 10px; color: #fff;}
		.editor-zhaomu-choose>p>a { float: right; width: 40px; text-align: center; height: 42px; color: #fff; background: #3bb;}
		.editor-zhaomu-choose ul { position: absolute ; top: 42px; left: 0; display: none;}
		.editor-zhaomu-choose ul li { line-height: 26px; background: #f1f1f1; color: #333; padding: 0 10px; width: 130px;}
		.editor-zhaomu-choose ul li:hover { background: #3bb; color: #fff; -webkit-transition: all 500ms; cursor: pointer;}
		.editor-zhaomu-choose:hover ul { display: block;}
		
		
	
	
	.editor-desc-textarea { border: 1px solid #CCC; width: 598px; margin-left: 20px;}
	.editor-desc-text { width: 578px; outline: none; border: none; height: 298px;  margin: 11px 9px; font-size: 14px; font-family: "Microsoft Yahei"; color: #666; resize: none; background: none;}
.editor-team { width: 600px; margin-left: 20px;}
	.editor-team li { width: 580px; height: 40px; padding: 10px; margin-bottom: 10px;}
		.editor-team li:hover { background: #FFF; -webkit-box-shadow: 0px 0px 5px #999; -moz-box-shadow: 0px 0px 5px #999;}
	.editor-team-id { height: 20px; line-height: 20px; padding: 10px; width: 142px; border: 1px solid #CCC; outline: none; font-size: 14px; font-family: "Microsoft Yahei"; color: #999; overflow: hidden; background: none;}
	.editor-team-work { height: 20px; line-height: 20px; padding: 10px; width: 330px; border: 1px solid #CCC; outline: none; font-size: 14px; font-family: "Microsoft Yahei"; color: #999; overflow: hidden; margin-left: 10px; background: none;}
	.editor-team-del { width: 40px; height: 42px; background: url(http://static.ueue.cc/www/img/editor.png) -123px -671px; outline: none; border: 1px solid #3BB; cursor: pointer;}
	.editor-team-add { width: 580px; margin-left: 30px;}
	.editor-team-addbtn { height: 40px; width: 120px; font-size: 14px; outline: none; background: #666; border: none; color: #FFF; font-family: "Microsoft Yahei"; cursor: pointer;}
		.editor-team-addbtn:hover { background: #3BB;}
	.editor-team-add p { line-height: 40px; width: 600px; color: #666; }
	.editor-user-right { height: 40px; width: 174px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; }
		.editor-user-right p { line-height: 40px; font-size: 14px; padding: 0 10px; text-align: center;}
	.editor-user-right-list {  width: 176px; border-top: 1px solid #CCC; }
		.editor-user-right-list p { line-height: 25px;  padding: 10px;}
		.editor-user-right-list p a { text-decoration: underline; color: #3BB;}
.editor-user { height: 40px; width: 334px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; }
	.aditor-user-avt { height: 26px; width: 26px; overflow: hidden; margin: 7px 10px;}
	.editor-user p { line-height: 40px; font-size: 14px; float: left; width: 280px;}
	.editor-user p a { text-decoration: underline; cursor: pointer;}
.editor-tags { width: 336px; border-top: 1px solid #CCC; padding-bottom: 20px;}
.editor-tags-title { margin-left: 10px; line-height: 20px; font-size: 14px; width: 314px; }
.editor-tags-box {width: 600px; min-height: 105px; padding: 0 20px; position: relative;}
	.editor-tags-box>div { height: 40px; border: 1px solid #ccc; margin-bottom: 10px; margin-right: 10px;}
				.editor-tags-box>div>p { padding: 0 10px; font-size: 14px; color: #999; line-height: 40px; float: left;}
				.editor-tags-box>div>span { float: left; height: 40px; width: 40px; cursor: pointer; background: url(http://static.ueue.cc/www/img/editor.png) -122px -671px #ccc;}
					.editor-tags-box>div:hover p { color: #333; -webkit-transition: all 500ms;}
					.editor-tags-box>div:hover span:hover { background: url(http://static.ueue.cc/www/img/editor.png) -122px -671px #3bb; -webkit-transition: all 500ms;}
				.editor-tags-box i { float: left; width: 40px; height: 40px; border: 1px solid #ccc; background: url(http://static.ueue.cc/www/img/editor.png) -122px -711px #ccc;}
					.editor-tags-box i:hover { background-color: #3bb; cursor: pointer; -webkit-transition: all 500ms;}
.editor-cc { width: 246px; height: 38px; line-height: 38px; border: 1px solid #ccc; margin-left: 20px; position: relative; background: #3cc;}
	.editor-cc:hover { cursor: pointer;}
	.editor-cc p,.editor-cc span.y { padding: 0 10px; color: #fff;}
	.editor-cc-position { width: 248px; height: 210px; position: absolute; bottom: 39px; left: -1px; display: none; background: #f1f1f1;}
		.editor-cc:hover .editor-cc-position { display: block;}
	.editor-cc-position a {  width: 186px;  height: 30px; line-height: 30px; padding-left: 62px; color: #333; position: relative;}
	.editor-cc-position a:hover { background-color: #3bb; cursor: pointer;}
	.editor-cc-position a span { display: none; height: 30px; width: 30px; position: absolute; top: 0; right: 10px; background: url(http://static.ueue.cc/www/img/editor.png) -124px -612px no-repeat;}
	.editor-cc-on { background-color: #FFF !important;}
	.editor-cc-on span { display: block !important;}
		.no-cc { background: url(http://static.ueue.cc/www/img/editor.png) -122px -573px no-repeat;}
		.cc-by-nc-nd { background: url(http://static.ueue.cc/www/img/cc.png) 6px 8px no-repeat; }
		.cc-by-nc-sa { background: url(http://static.ueue.cc/www/img/cc.png) -49px -16px no-repeat;} 
		.cc-by-nc { background: url(http://static.ueue.cc/www/img/cc.png) 6px -39px no-repeat; }
		.cc-by-nd { background: url(http://static.ueue.cc/www/img/cc.png) -64px -62px no-repeat;}
		.cc-by-sa { background: url(http://static.ueue.cc/www/img/cc.png) 6px -86px no-repeat; }
		.cc-by { background: url(http://static.ueue.cc/www/img/cc.png) -81px -110px no-repeat;}
.editor-sub { height: 100px;}
	.editor-sub input { border: none; outline: none; color: #FFF; font-size: 18px;  line-height: 38px; width: 176px; height: 40px; cursor: pointer; font-family: "Microsoft Yahei"; text-shadow: 1px 1px 1px #000 !important;}
		.editor-sub-btn1 { margin-right: 20px; background: #333; }
			.editor-sub-btn1:hover { background: #3BB; color:  #FFF; -webkit-transition: all 500ms;}
		.editor-sub-btn2 { background: #666; }
			.editor-sub-btn2:hover { background: #3BB; color:  #FFF; -webkit-transition: all 500ms;}
	.editor-post-opentype { margin-left: 20px; height: 40px; overflow: hidden;}
		.editor-post-opentype i { float: right; height: 40px; width: 40px; background: url(http://static.ueue.cc/www/img/editor.png) -4px -107px no-repeat #333; cursor: pointer;}
			.editor-post-opentype i:hover { background-color: #555; -webkit-transition: all 500ms;}
			.editor-post-opentype span {}
		.editor-sub-btn3 { height: 38px; line-height: 38px; font-size: 14px; color: #999; text-shadow: 1px 1px 1px #FFF; padding: 0 8px 0 30px; background: url(http://static.ueue.cc/www/img/editor.png) -6px -6px no-repeat; border: 1px solid #CCC; width: 56px;}
		.editor-sub-btn4 { height: 40px; line-height: 40px;  font-size: 14px; color: #FFF; padding: 0 8px 0 30px; background: url(http://static.ueue.cc/www/img/editor.png) -6px -55px no-repeat #3BB; width: 58px;}
/*发布器加载选项*/
#editor-choose { width: 100%; height: auto;}
	.ue-ed-tt{ width: 1000px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; padding: 20px 0; margin-top: 40px;}
	.ue-ed-title {  display: block; padding: 0 20px;  height: 30px; line-height: 30px; font-size: 18px; color: #666; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
	.ue-ed-title-en { display: block; padding: 0 20px;  height: 30px; line-height: 30px; font-size: 12px; color: #999;}
	.one-half { padding: 0 20px; width: 460px; float: left; margin-top: 20px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
	.one-half p { line-height: 20px; color: #999;margin: 9px 0;}
	.one-half p a { color: #1FA8E1;}
	.one-half p a:hover { text-decoration: underline;}
	.one-third,.one-third-noroot {  padding: 0 20px; width: 293px; float: left; margin-top: 20px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
	.one-third p,.one-third-noroot p { line-height: 20px; color: #999;margin: 9px 0;}
	.one-third p a { color: #1FA8E1;}
	.one-third p a:hover { text-decoration: underline;}
	.one-third-noroot p a { color: #CCC;}
/*视频发布器*/
.editor-video { width: 640px; position: relative;}
	.editor-video-input { float: left; height: 20px; outline: none; border: 1px solid #CCC; width: 578px; padding: 10px; font-size: 14px; font-family: "Microsoft Yahei"; color: #999; line-height: 20px; margin-left: 20px;}
	.editor-video-1{ line-height: 30px; width: 576px; margin-left: 20px;  color: #666;  margin-top: 10px;}
.editor-video-pic { margin-left: 20px; width: 600px; height: 152px;}
	.editor-video-pic-img { border: 1px solid #CCC; width: 230px; height: 140px; padding: 5px; background: #FFF;}
	.editor-video-pic-img div { height: 140px; width: 230px; overflow: hidden; background: url(http://static.ueue.cc/www/img/no-cover.png) 0 0 no-repeat;}
	.editor-video-pic-img span img {}
	.editor-video-pic-text { width: 350px; overflow: hidden; height: 102px;}
		.editor-video-pic-text p { width: 340px; line-height: 30px; margin-left: 10px; font-size: 12px; color: #666;}
	.editor-video-pic-btn { height: 40px; width: 120px;  padding-left: 10px; padding-top: 9px;}
		input.editor-video-pic-btn:hover { background: #3BB;}
/*声音发布器*/
.editor-voice { width: 640px; position: relative;}
.editor-voice-input { position: relative; padding-bottom: 20px;}
.editor-voice-input-1 { height: 102px;}
.editor-voice-input input { float: left; height: 20px; outline: none; border: 1px solid #CCC; width: 578px; padding: 10px; font-size: 14px; font-family: "Microsoft Yahei"; color: #999; line-height: 20px; margin-left: 20px;}
.editor-title-event {}
	.editor-title-event input { float: right;	height: 20px; outline: none; border: 1px solid #CCC; width: 490px; padding: 10px; font-size: 14px; font-family: "Microsoft Yahei"; color: #999; line-height: 20px;}
	.editor-title-event input:focus { border: 1px solid #3BB; -webkit-transition: all 500ms;}
	.editor-title-event div { float: left; height: 40px; border: 1px solid #CCC; width: 119px; background: #FFF; position: relative;}
	.editor-event-choose { width: 25px; font-size: 14px; color: #999; line-height: 40px; text-align: center; cursor: pointer;}
	.editor-event-choose:hover { color: #000;}
	.editor-title-event div ul { position: absolute; display: block; width: 119px; top: 40px; left: -1px; background: #FFF; border: 1px solid #CCC; z-index: 2000;}
	.editor-title-event li { line-height: 30px; height: 30px; float: left; width: 119px; text-align: center; color: #999; font-size: 14px; cursor: pointer;}
	.editor-title-event li:hover { color: #FFF; background: #3BB;}
.editor-event-pic { width: 640px;  margin-bottom: 10px;}
	.editor-eve-picul1 { 604px; margin-left: 17px; margin-top: 20px;}
		.editor-eve-picul1 li { float: left; height: 146px; width: 146px; overflow: hidden; margin: 0 3px 2px; position: relative;}
		.editor-eve-picul1 li a { display: block; height: 20px; width: 20px; cursor: pointer; position: absolute; top: 10px; right: -20px; background: url(http://static.ueue.cc/www/img/editor.png) -23px -491px #333 no-repeat;}
		.editor-eve-picul1 li a:hover { background-color: #666;}
		.editor-eve-picul1 li:hover a { right: 10px; -webkit-transition: all 300ms;}
	.editor-eve-picul2 { width: 598px; padding: 10px 20px;}
	.editor-eve-picul2 li { width: 598px; margin: 10px 0; float: left; line-height: 20px; height: 20px;}
.editor-event-imgname { width: 530px; height: 20px; line-height: 20px;  overflow: hidden; color: #666;}
	.editor-event-imgname a { text-decoration: underline; cursor: pointer;}
.editor-event-rate { width: 50px; height: 20px; line-height: 20px; text-align: center;}
.editor-event-time {  padding-left: 20px; position: relative;}
	.editor-event-time div.eve-time-1 { font-size: 14px; color: #999; line-height: 30px;}
	.eve-link-ico,.eve-time-ico,.eve-add-ico,.eve-email-ico { height: 30px; width: 30px;}
		.eve-time-ico { background: url(http://static.ueue.cc/www/img/editor.png) -16px -722px no-repeat;}
		.eve-link-ico { background: url(http://static.ueue.cc/www/img/editor.png) -103px -1019px no-repeat;}
		.eve-email-ico { background: url(http://static.ueue.cc/www/img/editor.png) -103px -974px no-repeat;}
	.eve-time-1 { width: 78px; height: 32px; padding: 4px 8px; border: 1px solid #CCC; outline: none; font-size: 14px; font-family: "Microsoft Yahei"; color: #999; position: relative;}
		.eidtor-calendar { display: none; z-index: 99999;}
	.eve-time-1:hover .eidtor-calendar { display: block; }
	.eve-time-1:hover>p { color: #3bb; cursor: pointer;}

	
	.eve-email { height: 20px; padding: 4px 8px; margin-top: 10px; border: 1px solid #CCC; outline: none; width: 300px; font-size: 14px; font-family: "Microsoft Yahei"; color: #999;}
.eve-time-title { line-height: 30px; width: 40px; text-align: left; margin-right: 15px; font-size: 14px; color: #999;}
.eve-address-title,.eve-email-title { line-height: 30px; font-size: 14px; color: #999; text-shadow: 1px 1px 1px #FFF; }

/*footer*/
.ue-othr-footer { background: #FFF; height: 300px; width: 100%; overflow: hidden;}
.ue-sitemap-tt { width: 1000px;}
	.ue-sitemap-tt h2 { margin-top: 10px; float: left; padding: 10px 0; border-bottom: 1px solid #333;}
.ue-sitemap1 { width: 200px; overflow: hidden; margin-top: 20px;}
	.ue-sitemap1 a { float: left; color: #999; padding: 0 20px; line-height: 25px;}
	.ue-sitemap1 a:hover { color:#3BB;}
.ue-sitemap2 { width: 190px; overflow: hidden; margin-top: 20px;}
	.ue-sitemap2 a { float: left; color: #999; padding-right: 20px; line-height: 25px;}
	.ue-sitemap2 a:hover { color:#3BB;}
/*
	Level:			Function
	Explain:		个人主页底部信息样式
	Last Modify:	Alex
*/	
	
	.user-ftbg { min-width: 1242px; height: 50px; background: url(http://static.ueue.cc/www/img/bgt.jpg) repeat; overflow: hidden; position: relative; margin-top: 20px; z-index: 9999;}
		.user-ftbg p { line-height: 50px; color: #FFF; text-align: center;}
		
/*
	Level:			Function
	Explain:		日历样式
	Last Modify:	Alex
*/			
.eidtor-calendar Input {background-color: #333;height: 20px;border: none;color:#fff; line-height: 20px;}

.Calendar {width: 250px;background-color: #f1f1f1;border:0px dotted #1C6FA5; position: absolute; top: 41px; left: -1px; z-index: 9999;}
.CalendarTD {color: #000000;background-color:#f6f6f6;height: 30px;width:11%;text-align: center;}

.Title {height: 24px;text-align: center;color: #fff;text-decoration: none;background-color: #333;border:1px solid #333;}

.Day {color:#3bb; background: #fff; height: 20px;width:11%;text-align: center;}
.DaySat {color:#3bb; background: #fff; text-align: center;height: 30px;width: 12%;}
.DaySun {color: #3bb; background: #fff; text-align: center;height: 30px;width: 12%;}
.DayNow { color: #fff;background-color: #3bb;height: 30px;text-align: center;}
.Day:hover,.DaySat:hover,.DaySun:hover { background: #333; color: #fff; cursor: pointer;}

.DayTitle {color: #fff;background-color: #3bb;height: 20px;width:11%;text-align: center;}
.DaySatTitle {color:#fff;background-color:#3bb;text-align: center;height: 20px;width: 12%;}
.DaySunTitle {color: #fff;background-color: #3bb;text-align: center;height: 20px;width: 12%;}

.DayButton { font-size: 18px; bold;color: #fff; padding: 0 20px; cursor:hand;text-decoration: none;}

/*选择行业标签通用样式*/
.ue-stag { height: 100%; width: 100%; position: fixed; top: 0; left: 0; background: url(http://static.ueue.cc/www/img/pngbg80.png) repeat; z-index: 10000;}
.ue-stag-box { width: 800px; height: 360px; padding: 10px 0; position: absolute; top: 50%; left: 50%; margin-left: -400px; margin-top: -180px; z-index: 10001; border-top: 2px solid #FFF; border-bottom: 2px solid #FFF;}
.ue-stag-close {display: block; width: 70px; height: 70px; position: fixed; top: 0px; right: 0px; background: url(http://static.ueue.cc/www/img/report.png) -197px -35px no-repeat; cursor: pointer; z-index: 1005;}
.ue-stag-close:hover{ background: url(http://static.ueue.cc/www/img/report.png) -310px -35px no-repeat;}
.ue-stag-hot { width: 150px; height: 340px; margin-top: 10px; background: #fff;}
.ue-stag-hot ul { }
.ue-stag-hot ul li { width: 150px; height: 30px; line-height: 30px;}
.ue-stag-hot ul li a { display: block; height: 30px; width: 110px; color: #333; padding: 0 20px; font-size: 14px;}
	.ue-stag-hot ul li a:hover { background: #333; -webkit-transition: all 500ms; color: #fff;}
.ue-stag-box>div.z { width: 800px; height: 340px; position: relative;}
.ue-stag-maintitle {  line-height: 40px; height: 40px; color: #FFF; font-size: 18px; position: absolute; left: 0; top: -60px; width: 600}
.ue-stag-title { font-size: 12px; color: #fff; width: 150px; text-align: center; line-height: 30px; background: #3bb;}
.ue-stag-normal { width: 649px; height: 340px; margin-top: 10px;}
	.ue-stag-normal>div.z { height: 340px; line-height: 30px; font-size: 12px; width: 80px; margin-left: 1px;}
	.ue-stag-normal>div.z:hover { background: #3bb; -webkit-transition: all 500ms;}
	.ue-stag-normal>div.z:hover span { background: #fff; color: #333; -webkit-transition: all 500ms;}
	.ue-design { width: 160px !important; height: 340px;}
		.ue-design>div>span { float: left; padding: 0 5px; width: 150px; color: #fff; background: #b1b1b1; text-align:center;}
		.ue-design>div>a { float: left; padding-left: 5px; width: 75px; color: #fff;}
		.ue-stag-normal>div.z>span { float: left; padding: 0 5px; width: 70px; color: #fff; background: #b1b1b1;  text-align:center;}
		.ue-stag-normal>div.z>a {  float: left; padding-left: 5px; width: 75px; color: #fff; line-height: 30px; }
			.ue-design>div>a:hover,.ue-stag-normal>div.z>a:hover { background: #fff; color: #333; -webkit-transition: all 500ms;}