	body { min-height: 100%; min-width: 1242px;}
	.yz-idx-top { padding: 0 20px;}
	.pluts { position: relative; z-index: 1; }
	.yz-idx-search {padding: 0 20px;}
	.yz-idx-line { border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; height: 47px; width: 100%; min-width: 1242px; overflow: hidden;}
		.yz-idx-line-p { padding: 0 40px; max-width: 920px; overflow: hidden; height: 47px; line-height: 48px; background: url(../img/show-bodyico.png) -184px -1313px no-repeat;}
			.yz-idx-line-p p { float: left; padding-left: 8px; line-height: 25px; height: 25px; background: #999; margin:11px 0 0 8px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
				.yz-idx-line-p p:hover { background: #7F7F7F;}
			.yz-idx-line-p p span { float: left; color: #FFF; font-size: 14px;}
			.yz-idx-line-p p a { float: left; width: 25px; height: 25px; cursor: pointer; background: url(../img/show-bodyico.png) -154px -2141px no-repeat;}
				.yz-idx-line-p p a:hover { background: url(../img/show-bodyico.png) -186px -2141px no-repeat;}
	.yz-idx-body { margin-bottom: 0; padding-bottom: 20px; width: 100%;  min-width: 1242px;}
	.yz-idx-eventchoose { background: url(../img/icon-hd.png) -434px -66px; height: 20px; width: 30px; position: absolute; bottom: -1px; left: 368px;}
	.yz-idx-workschoose { background: url(../img/icon-hd.png) -434px -66px; height: 20px; width: 30px; position: absolute; bottom: -1px; left: 284px;}
        .yz-idx-professionchoose { background: url(../img/icon-hd.png) -434px -66px; height: 20px; width: 30px; position: absolute; bottom: -1px; left: 480px;}
	.yz-idx-share { height: 28px; border-top: 1px solid #CCC; padding: 20px 0;}
		.yz-idx-share p { line-height: 28px; font-size: 14px; color: #999;}
		.yz-idx-share a { height: 28px; width: 28px; margin-left: 10px;}
			.yz-csina { background: url(../img/show-bodyico.png) -5px -2174px no-repeat;}
			a.yz-csina:hover {  background: url(../img/show-bodyico.png) -45px -2174px no-repeat;}
			.yz-ctencent { background: url(../img/show-bodyico.png) -5px -2211px no-repeat;}
			a.yz-ctencent:hover { background: url(../img/show-bodyico.png) -45px -2211px no-repeat; }
	.yz-idx-page { margin-top: 40px; margin-left: 15px; width: 610px; height: 50px; background: #333;color: #FFF; font-size: 14px; text-shadow: 1px 1px 1px #000; cursor: pointer;}
		.yz-idx-page a { display: block; width: 610px; height: 40px; text-align: center; line-height: 16px; padding-top: 10px; color: #FFF;}
			.yz-idx-page a span { font-size: 12px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;}
		.yz-idx-page:hover { background: #3BB;  -webkit-transition: all 500ms;}
	.ue-middle {  border-left: 1px solid #CCC; border-right: 1px solid #CCC; height: 100%;}
	.ue-all { border-top: 1px solid #CCC;}
	.ue-left { padding-right: 11px;}
/*
	Level:			Channal
	Explain:		搜索条
	Last Modify:	Alex
*/

	.yz-search { width: 336px;}
		.yz-search div { margin-top: 13px; }
		.yz-search-type  { height: 30px; width: 50px; border: 1px solid #CCC; outline: none; position: relative; overflow: hidden; background: #FFF url(../img/show-bodyico.png) 28px -1370px no-repeat;}
		.yz-search-type li { position: absolute; display: block; height: 30px; width: 50px; left: 0;}
		.yz-search-type li a { display: block; height: 30px; width: 50px; float: left; cursor: pointer; }
			.yz-search-type-wk { background: url(../img/show-bodyico.png) -34px -1535px no-repeat;}
			.yz-search-type-rcd { background: url(../img/show-bodyico.png) -124px -1533px no-repeat;}
			.yz-search-type-usr { background: url(../img/show-bodyico.png) -78px -1534px no-repeat;}
		.yz-search-text { width: 243px; height: 20px; line-height: 20px; font-size: 14px; padding: 4px 5px 6px; border-top: 1px solid #CCC; border-left: none; border-bottom: 1px solid #CCC; border-right: none; outline: none; background: #FFF; font-family: "Microsoft YaHei"; color: #999; }
		.yz-search-sub { height: 32px; width: 30px; outline: 0 none;  background-color: buttonface; border: 0px outset buttonface; cursor: pointer; background: #FFF url(../img/show-bodyico.png) -47px -1373px no-repeat; }
/*
	Level:			Channal
	Explain:		内容页右侧边Project By & Post By
	Last Modify:	Alex
*/
		.yz-idx-right {  padding-bottom: 20px; overflow: hidden; position: relative; border-bottom: 1px solid #CCC;}
		.yz-idx-title { height: 50px;  position: relative; border-bottom: 1px solid #CCC;}
			.yz-idx-title p { margin-left: 15px; line-height: 50px; color: #3BB; font-size: 18px; }
		.yz-idx-by { height: 100px; width: 306px; padding-left: 15px;}
			.yz-idx-by1,.yz-idx-by2 { font-size: 12px;height: 30px; line-height: 30px;}
				a.yz-idx-by1 { font-size: 14px !important;}
			.yz-idx-by2 { width: 205px;}
		.yz-idx-by-ver { height: 29px; width: 160px; line-height: 29px; text-align: center; font-size: 14px;  text-shadow: 0px 0px 2px #FFF; border: 1px solid #3BB; margin-top: 9px; color: #3BB;}
		.yz-idx-follow { width: 336px; height: 32px;}
				#follow { width: 200px; height: 32px; background: #3BB; color: #FFF; text-align: center; line-height: 30px; font-size: 14px; margin-left: 68px;}
					a#follow:hover { background: #3BB; -webkit-transition: all 500ms;}
				#cfollow { width: 200px; height: 32px; background: #F2F2F2; color: #999; text-align: center; line-height: 30px; font-size: 14px; margin-left: 68px;}
					a#cfollow:hover { background: #666; color: #FFF; -webkit-transition: all 500ms;}
				#enter { width: 200px; height: 32px; background: #666; color: #FFF; text-align: center; line-height: 30px; font-size: 14px; margin-left: 68px;}
					a#enter:hover { background: #3BB; -webkit-transition: all 500ms;}
		.yz-idx-more { width: 306px; margin-left: 15px; color: #999; text-shadow: 1px 1px 1px #FFF;}
			.yz-idx-more p { height: 20px;}
			.ue-readmore { color: #3BB !important;}
			.yz-idx-more a:link,.yz-idx-more a:visited { color: #999;}
			.yz-idx-more a:hover { color: #3BB; text-decoration: underline;}
			.yz-idx-more li { border-bottom: 1px dashed #CCC; line-height: 20px; padding: 10px 0;}
		.yz-idx-info { width: 306px; margin-left: 15px;}
			.yz-idx-info p { line-height: 30px; width: 280px; border-bottom: 1px dotted #CCC;  padding-left: 26px;}
			.yz-idx-info-view { background: url(../img/hp-topico.png) -17px -530px no-repeat; height: 30px; }
			.yz-idx-info-follow { background: url(../img/hp-topico.png) -15px -424px no-repeat; height: 30px;}
			.yz-idx-info-surpot { background: url(../img/hp-topico.png) -17px -478px no-repeat; height: 30px; }
			.yz-idx-info-discus { background: url(../img/hp-topico.png) -14px -373px no-repeat; height: 30px; }
			.yz-idx-info-cc { background: url(../img/hp-topico.png) -16px -557px no-repeat; height: 30px;}
				.yz-idx-info-cc a { color: #999;}
				.yz-idx-info-cc a:hover { color: #3BB; text-decoration: underline;}
			.yz-idx-info-tags { background: url(../img/hp-topico.png) -376px -373px no-repeat; }
				.yz-idx-info-tags span.y { width: 240px;}
				.yz-idx-info-tags a { float: right; margin-left: 5px;  color: #999;}
					.yz-idx-info-tags a:hover { text-decoration: underline; color: #3BB;}
		.yz-idx-right-button { width: 306px; margin: 20px 15px -3px; background: url(../img/show-bodyico.png) 0 -1588px #CCC; height: 40px; color: #FFF;  position: relative;  font-size: 14px; line-height: 40px; text-align: center;  }
		.ue-remember-people { background: url(../img/show-bodyico.png) 0 -1586px #CCC;}
		.ue-remember-work { background: url(../img/show-bodyico.png) 0 -1637px #CCC;}
		a.yz-idx-right-button:hover { background-color: #3BB; border-bottom: 3px solid #099;  -webkit-transition: all 500ms; }
		
/*
	Level:			Channal
	Explain:		没有找到结果 NOT FOUND
	Last Modify:	Alex
*/
	.ue-notfound { height: 272px; width: 640px;}
		.ue-notfound h1 { float: left; width: 600px; margin: 0 20px;  border-bottom: 1px solid #CCC; font-size: 72px; height: 150px; line-height: 150px; text-align: center; color: #3BB;}
		.ue-notfound P { float: left; width: 640px; font-size: 18px; height: 40px; line-height: 40px; text-align: center; margin-top: 50px;}

        .yz-idx-report-none { width: 600px; margin-left: 20px; padding-bottom: 40px; display: block; width: 600px; line-height: 30px; text-align: center; font-size: 14px; color: #999; }
		.yz-idx-report-none p { display: block; width: 600px;}

/*
	Level:			Channal
	Explain:		没有评论样式模块
	Last Modify:	Alex
*/
.yz-idx-module-discus-none { display: block; width: 600px; margin-left: 20px; line-height: 30px; text-align: center; font-size: 14px; color: #999;  border-top: 1px solid #CCC; padding-bottom: 5px;}
.yz-idx-module-discus-none p { display: block; width: 600px;}

/*
	Level:			Channal
	Explain:		通用相关报道模块
	Last Modify:	Alex
*/
	.yz-idx-module3 { padding-bottom: 40px; }
		.yz-idx-module3-left  {  width: 230px; height: 320px; border-right: 1px solid #CCC; padding: 0 40px; overflow: hidden;}
		.yz-idx-module3-left-1 { display: block; height: 140px; width: 230px; overflow: hidden;}
			a.yz-idx-module3-left-1:hover { opacity: 0.8; filter: alpha(opacity=80);}
		.yz-idx-module3-left-2 { width: 230px; height: 40px; overflow: hidden; }
		.yz-idx-module3-left-2 a { display: block; width: 230px; font-size: 14px; line-height: 20px; color: #333; overflow: hidden; text-shadow: 1px 1px 1px #FFF;}
			.yz-idx-module3-left-2 a:hover { color: #3BB;}
		.yz-idx-module3-left-3 { width: 230px; height: 45px; overflow: hidden;}
		.yz-idx-module3-left-3 a { padding: 0 5px; line-height: 20px; font-size: 12px; margin: 1px; color: #999; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; float: left; white-space:nowrap; text-shadow: 1px 1px 1px #FFF;}
			.yz-idx-module3-left-3 a:hover { background: #3BB; color: #FFF; text-shadow: none;}
		.yz-idx-module3-left-4 { height: 25px; width: 230px; overflow: hidden;}
			.yz-idx-module3-left-4 a { line-height: 25px; font-size: 14px; color: #999;}
				.yz-idx-module3-left-4 a:hover { color: #333;}
				.yz-idx-module3-left-4  p { padding-left: 10px;}
		.yz-idx-module3-right { width: 250px; border-left: 1px solid #FFF; height: 320px; overflow: hidden; padding: 0 39px; text-shadow: 1px 1px 1px #FFF;}
			.yz-idx-module3-right-1 { width: 250px; height: 50px; padding-bottom: 8px; margin-bottom: 8px; border-bottom: 1px dotted #F2F2F2;}
			.yz-idx-module3-right-2 { height: 50px; width: 50px; overflow: hidden;}
				a..yz-idx-module3-right-2:hover { opacity: 0.8; filter: alpha(opacity=80);}
				.yz-idx-module3-right-2 img { max-height: 50px; }
			.yz-idx-module3-right-3 { line-height: 20px; font-size: 14px; width: 180px; padding: 0 10px; color: #666; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;}
				a.yz-idx-module3-right-3:hover { color:#3BB;}
			.yz-idx-module3-right-4 { line-height: 40px; width: 180px; padding: 0 10px; color: #CCC;}
			.yz-idx-module3-right-4 a { padding: 0 3px;  color: #CCC; text-decoration: underline;}
			.yz-idx-module3-right-4 a:hover { color: #3BB;}
			

		




/*
	Level:			Channal
	Explain:		内容页评论模块
	Last Modify:	Alex
*/
	.yz-idx-module-discus {  padding-bottom: 40px;}
	.yz-idx-module-discusbox { position: relative; height: 138px; width: 600px;  margin-left: 20px; }
	.yz-idx-module-discus-ta { border: 1px solid #CCC;}
		.yz-idx-module-discus-ta textarea { margin: 10px; padding: 0; border: 0px outset buttonface; width: 578px; height: 100px; color: #999; outline: 0 none; line-height: 20px; overflow: hidden; font-family: "Microsoft YaHei"; font-size: 14px; line-height: 20px; resize: none; background: none;}
		.yz-idx-module-discus-ta:focus { border: 1px solid #3BB;}
		.yz-idx-module-discus-wn { position: absolute; top: -25px; right: 5px; text-align: right; font-size: 14px; display: block; width: 455px; height: 20px; color: #999;}
		.yz-idx-module-discus-sub { text-align: center;  width: 44px; line-height: 22px; height: 24px; background: #FFF; outline: none; border: 1px solid #3BB; color:#3BB; font-family:"Microsoft YaHei";  }
			.yz-idx-module-discus-sub:hover { background: #333; cursor: pointer; color: #FFF; -webkit-transition: all 500ms;}
	.yz-idx-module-discus-ul { width: 600px; margin-left: 20px; border-top: 1px solid #CCC;}
		.yz-idx-module-discus-li { width: 600px; padding: 25px 0; border-bottom: 1px dashed #E2E2E2; position: relative; }
		.yz-idx-module-discus-cmtone-avt,.yz-idx-module-discus-cmtone-avt a { height: 50px; width: 50px; overflow: hidden;}
		.yz-idx-module-discus-cmtone-ct { width: 520px; padding-right: 10px;}
			.yz-idx-module-discus-cmtone-ct p { line-height: 25px;}
		.yz-idx-module-discus-cmtone-name { width: 520px; text-align: left; line-height: 20px;}
			.yz-idx-module-discus-cmtone-name a { font-size: 14px; color: #000;}
			.yz-idx-module-discus-cmtone-name a:hover { text-decoration: underline;}
			.yz-idx-module-discus-cmtone-name i { color: #CCC; font-size: 12px; margin-left: 10px; font-style: italic; }
			.yz-idx-module-discus-cmtone-name span { color: #3BB; display: block; height: 25px; line-height: 25px; padding: 0 10px; font-family:Arial, Helvetica, sans-serif;}
			.yz-idx-module-discus-cmtone-ctmain { width: 520px; line-height: 30px; text-align: left; color: #999; font-size: 14px;}
	.yz-idx-module-discus-more { width: 600px;  margin-left: 20px; background: #333;height: 50px;  position: relative;}
	a.yz-idx-module-discus-more:hover { background: #3BB;}
		.yz-idx-module-discus-more p { line-height: 50px; width: 600px; text-align: center; font-size: 14px; color: #FFF; cursor: pointer;}
		.yz-idx-module-discus-more span { display: block; height: 34px; width: 34px; background: url(../img/show-bodyico.png) -200px -2090px no-repeat; position: absolute; right: 30px; top: 8px; cursor: pointer;}
		a.yz-idx-module-discus-more:hover span { background: url(../img/show-bodyico.png) -152px -2090px no-repeat;}
			
	
/*--------------------------首页---------------------------*/
.ue-index-slide { width: 835px; height: 210px; background: #FFF; margin-top: 53px; overflow: hidden; position: relative;}
	.ue-index-slide:hover .ue-slide-scoll { bottom: 20px; -webkit-transition: all 500ms;}
	.ue-slide-scoll { position: absolute; bottom: -50px; right: 20px;}
	.ue-slide-left { height:40px; width: 40px; background: url(../img/index.png) -7px -10px no-repeat; cursor: pointer;}
		.ue-slide-left:hover { height:40px; width: 40px; background: url(../img/index.png) -7px -60px no-repeat;}
	.ue-slide-right { height:40px; width: 40px; background: url(../img/index.png) -57px -10px no-repeat; cursor: pointer;}
		.ue-slide-right:hover { height:40px; width: 40px; background: url(../img/index.png) -57px -60px no-repeat;}
.ue-index-tags { padding-bottom: 14px;  border-bottom: 1px solid #CCC; margin-top: 0 !important; }
	.ue-index-tags div { height: 150px; padding: 0 5px; overflow: hidden}
		.ue-index-tags a { line-height: 25px; color: #999; margin-right: 10px; float: left; text-shadow: 1px 1px 1px #FFF;}
		.ue-index-tags a:hover { color: #3BB; text-decoration: underline; -webkit-transition: all 500ms;}
	.ue-index-type { padding: 2px 5px; color: #FFF !important; text-shadow: none; background: #3BB; margin-left: 6px;}
	a.ue-index-type:hover { background: #333; text-decoration: none;}
		
/*--------------------------作品搜索条---------------------------*/
	.yz-idx-show-search-tag {}
		.yz-idx-show-search-tag li { position: relative; z-index: 2000;}
		.yz-idx-show-search-tag li span{ display: block; margin-right: 63px; height: 50px; line-height: 50px; font-size: 16px; margin-top: 4px; }
		.yz-idx-show-search-tag li span:hover { border-top: 4px solid #3BB; margin-top: 0; cursor: pointer;}
	
		.yz-idx-show-search-tag1-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; width: 130px; height:0px; overflow: hidden;  padding-top: 0; z-index: 2001;}
			.yz-idx-show-search-tag1-list a { border: none; float: left; width: 60px; color: #333; line-height: 40px; height: 40px; font-size: 14px; padding-left: 60px; font-weight: normal; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px;}			
			.yz-idx-show-search-tag1-list a:hover { background-color: #333; color: #FFF; -webkit-transition: all 500ms; }
				.show-icon1 { background: url(../img/show-bodyico.png) -14px -283px no-repeat;}
				.show-icon2 { background: url(../img/show-bodyico.png) -14px -23px no-repeat;}
				.show-icon3 { background: url(../img/show-bodyico.png) -14px -89px no-repeat;}
				.show-icon4 { background: url(../img/show-bodyico.png) -14px -153px no-repeat;}
				.show-icon5 { background: url(../img/show-bodyico.png) -14px -218px no-repeat;}
			
		.yz-idx-show-search-tag2-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; width: 497px; height:0px; overflow: hidden; z-index: 2000; }
			.yz-idx-show-search-tag2-list-title { height: 50px; width: 497px;}
				.yz-idx-show-search-tag2-list-title a { color: #FFF; background-color: #333; float: left; line-height: 50px; width: 71px; text-align: center; cursor: default; font-size: 14px; }
				.yz-idx-show-search-tag2-list-title-on { color: #333 !important; background: #FFF !important;}
					.yz-idx-show-search-tag2-list-title a:hover { color: #FFF;}			
				.show-icon6 { background: url(../img/show-bodyico.png) -155px -22px no-repeat;}
				.show-icon7 { background: url(../img/show-bodyico.png) -155px -89px no-repeat;}
				.show-icon8 { background: url(../img/show-bodyico.png) -155px -153px no-repeat;}
				.show-icon9 { background: url(../img/show-bodyico.png) -155px -215px no-repeat;}
				.show-icon10 { background: url(../img/show-bodyico.png) -155px -282px no-repeat;}

		.yz-idx-show-search-tag3-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; width: 130px; height:0px; overflow: hidden; z-index: 2000; }
			.yz-idx-show-search-tag3-list a { border: none; float: left; width: 70px; color: #333; line-height: 40px; height: 40px; font-size: 14px; padding-left: 50px; font-weight: normal; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px;}			
			.yz-idx-show-search-tag3-list a:hover { background-color: #333; -webkit-transition: all 500ms; color: #FFF;}

		.yz-idx-show-search-tag4-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; width: 130px; height:0px; overflow: hidden; z-index: 2000; }
			.yz-idx-show-search-tag4-list a { border: none; float: left; width: 70px; color: #333; line-height: 40px; height: 40px; font-size: 14px; padding-left: 50px; font-weight: normal; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px;}			
			.yz-idx-show-search-tag4-list a:hover { background-color: #333; -webkit-transition: all 500ms; color: #FFF;}
				.show-icon11 { background: url(../img/show-bodyico.png) -19px -332px no-repeat;}
				.show-icon12 { background: url(../img/show-bodyico.png) -19px -377px no-repeat;}
				.show-icon13 { background: url(../img/show-bodyico.png) -19px -425px no-repeat;}
				.show-icon14 { background: url(../img/show-bodyico.png) -19px -472px no-repeat;}
				.show-icon15 { background: url(../img/show-bodyico.png) -19px -522px no-repeat;}
			.js-list span { position: relative;}
			.js-list-1 { border-bottom: 3px solid #000; display: none; height: 250px !important;}
				.js-list span:hover .yz-idx-clickicon { display: block;}
			.yz-idx-clickicon { background: url(../img/show-bodyico.png) -182px -1274px no-repeat; position: absolute; top: 5px; right: -30px; display: none; height: 30px; width: 22px; }
/*
	Level:			Channal
	Explain:		底部导航
	Last Modify:	Alex
*/
	.ue-bottomnav { width: 1202px; padding: 20px 0; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; height: 30px; line-height: 30px; margin-top: 40px; margin-bottom: 60px;}
	.ue-bottomnav a { height: 30px; width: 240px; float: left; color: #666; text-align: center; font-size: 14px; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);}
	.ue-bottomnav a:hover { color: #3BB;}
				
/*--------------------------用户搜索页面---------------------------*/
.yz-idx-show-search-tag6-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; padding: 0 5px; width: 480px; height:253px; overflow: hidden; z-index: 2000; }
			.yz-idx-show-search-tag6-list a { width: 60px; height: 30px; margin: 10px 0; line-height: 30px; float: left; color: #333; text-align: center; font-size: 12px; }
				.yz-idx-show-search-tag6-list a:hover { background: #333; color: #FFF; cursor: pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
				
.ue-user-list { width: 640px;}
		.ue-user-list li { float: left; height: 193px; width: 193px; padding: 0 0 40px 15px; position: relative;}
		.ue-user-bg { height: 191px; width: 191px; background: #FFF;  position: relative; overflow: hidden; border: 1px solid #FFF;}
		.ue-user-info { width: 191px; height: 50px; background: #FFF; position: absolute; left: 0px; top: 141px;}
			.ue-user-info-name {  line-height: 20px; line-height: 20px; font-size: 14px; width: 186px;  color: #666; margin-top: 7px; padding-left: 5px;}
			.ue-user-area { line-height: 20px; font-size: 12px; color: #CCC; padding-left: 5px;}
			.ue-user-m { position: absolute; left: 85px; top: 75px;}
		.ue-user-bg:hover { border: 1px solid #3BB;}
		.ue-user-bg:hover .ue-user-info{ top: 194px;  -webkit-transition: all 300ms; }

.yz-user-module3-left  {  width: 250px; height: 320px; border-right: 1px solid #CCC; padding: 0 35px; overflow: hidden; text-shadow: 1px 1px 1px #FFF;}

.yz-user-module3-right  {  width: 250px; height: 320px; padding: 0 34px; overflow: hidden; border-left: 1px solid #FFF; text-shadow: 1px 1px 1px #FFF;}
.user-icon9 { background: url(../img/show-bodyico.png) -155px -332px no-repeat;}
.user-icon10 { background: url(../img/show-bodyico.png) -155px -377px no-repeat;}
	.ue-user-right-list { padding: 10px 0;}
	.ue-user-right-list li { float: left; margin-left: 14px; margin-top: 10px;}
		
/*--------------------------作品搜索结果---------------------------*/

/*---------------------------------------------------------------------------------------------------------*/
	.yz-work-ul { width: 630px; padding: 0 5px; }
		.yz-work-ul li { float: left; padding: 0 0 10px 10px; width: 300px; height: 350px; position: relative; }
		.yz-work-li-bg { padding: 1px; width: 298px; height: 328px;}
			.yz-work-li-bg:hover { border: 1px solid #3BB; padding: 0; }
		.yz-work-show-pic,.yz-work-show-video,.yz-work-show-txt,.yz-work-show-voice { width: 298px; height: 185px; overflow: hidden; position: relative; background: #FFF;}
			.yz-work-show-pic a { display: block; width: 298px; height: 185px; overflow: hidden; }
			.yz-work-show-video a span { display: block; height: 52px; width: 52px; position: absolute; top: 67px; left: 123px; background: url(../img/show-bodyico.png) -19px -740px no-repeat;}
			.yz-work-show-txt a { display: block; width: 288px; height: 160px; padding: 12px 5px; background: #FFF; overflow: hidden;}
			.yz-work-show-txt a p { display: block; width: 288px; height: 160px; line-height: 20px; color: #666; overflow: hidden;}
			.yz-work-show-voice a { display: block; width: 288px; height: 160px; padding: 12px 5px; background: #FFF; overflow: hidden;}
			.yz-work-show-voice a span { display: block; height: 50px; width: 50px; background: url(../img/show-bodyico.png) -111px -739px no-repeat; position: absolute; top: 68px; left: 124px;}
		.yz-othr-title { width: 288px; padding: 0 5px; height: 40px; line-height: 20px; overflow: hidden; display: block; font-size: 14px; margin-top: 10px; text-shadow: 1px 1px 1px #FFF;}
		.yz-othr-tags { display: block; height: 25px; line-height: 25px; width: 288px; overflow: hidden; padding: 0 5px; margin-top: 10px;}
			.yz-othr-tags a { color: #999; float: left; margin-right: 5px; text-shadow: 1px 1px 1px #FFF;}
			.yz-othr-tags a:hover { color: #000; -webkit-transition: all 500ms;}
		.yz-othr-avr { display: block; height: 25px; line-height: 25px; width: 288px; overflow: hidden; padding: 0 5px; margin-top: 20px;}
			.yz-othr-avr a { float: left; height: 25px; margin-right: 5px; color:#666; text-shadow: 1px 1px 1px #FFF;}

				
/*---------------------------------------------------------------------------------------------------------*/
/*左侧栏样式*/
	.ue-left-title { height: 50px; border-bottom: 1px solid #CCC;}
		.ue-left-title p { line-height: 50px;}
	.ue-left-text { margin-top: 20px; line-height: 25px; padding-bottom:20px;text-shadow: 1px 1px 1px #FFF; color: #666;}
		.ue-left-text a { padding: 0 10px; color: #999;}
		.ue-left-text a:hover { color: #3BB; text-decoration: underline;}
		.ue-left-text a.active { color: #3BB;}
	.ue-left-text span { color: #999;}
	.ue-left-text hr {border: none; border-top: 1px solid #CCC !important; border-bottom: 1px solid #FFF !important; }
	.ue-left-up { border-bottom: 1px solid #CCC; padding-bottom: 20px;}


/*---------------------------------------------------------------------------------------------------------*/

	.yz-idx-body-body{  padding: 0; overflow: hidden; padding-bottom: 15px; z-index: 6;}
	.yz-idx-body-title { height: 50px;  padding-bottom: 20px; position: relative;}
		.yz-idx-body-title-p { line-height: 50px; width: 640px; text-align: center; color: #999; text-shadow: 1px 1px 1px #FFF; font-size: 24px; }
		
		
		.yz-idx-goodwork { height: 402px;  position: relative; border-bottom: 1px solid #CCC;}
		.yz-idx-goodwork-box { width: 320px; height: 342px; overflow: hidden; position: relative; margin-left: 8px;}
		.yz-idx-goodwork-ul { position: absolute; top: 0;}
		.yz-idx-goodwork-ul li { width: 320px; height: 320px; overflow: hidden;}
		.yz-idx-gw-pic { height: 205px; width: 320px; position: relative;}
			.yz-idx-gw1 { height: 185px; width: 296px; margin-top: 20px; margin-left: 12px; overflow: hidden; position: relative;}
		.yz-idx-gw-pic span { background: url(../img/show-bodyico.png) 0 -2016px; display: block; height: 35px; width: 296px; position: absolute; left: 12px; bottom: 0;}
			
			.yz-idx-gw-title { width: 296px; line-height: 25px; text-align: left; padding: 0 12px; height: 50px; overflow: hidden; font-size: 14px;}
				.yz-idx-gw-title a { color: #333; height: 25px; display: block; text-shadow: 1px 1px 1px #FFF;}
				.yz-idx-gw-title a:hover { color: #000;}
			.yz-idx-gw-by { width: 296px; line-height: 40px; height: 40px; overflow: hidden; padding: 0 12px; text-align: left;}
				.yz-idx-gw-by a:hover { text-decoration: underline;}
		.yz-idx-goodwork-point { position: absolute; bottom: 20px; left: 113px; display: block; height: 12px; width: 110px;}
			.yz-idx-goodwork-point li { float: left; width: 12px; height: 12px; margin: 0 5px; overflow: hidden; background: url(../img/gw-pt.png) 0 0 no-repeat; cursor: pointer;}
			li.gw-pton { background: url(../img/gw-pt.png) 0 -12px no-repeat !important;}
			
			
/*--------------------------事件搜索条---------------------------*/
	.yz-idx-event-search-tag { z-index: 7;}
		.yz-idx-event-search-tag li { position: relative; }
		.yz-idx-event-search-tag li span{ display: block; margin-right: 63px; height: 50px; line-height: 50px; font-size: 16px; margin-top: 4px; }
		.yz-idx-event-search-tag li span:hover { border-top: 4px solid #3BB; margin-top: 0; cursor: pointer;}
	
		.yz-idx-event-search-tag1-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; width: 260px; height: 0px; overflow: hidden; z-index: 2000;}
			.yz-idx-event-search-tag1-list a { border: none; float: left; width: 120px; color: #333; line-height: 40px; height: 40px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px; font-size: 14px; text-align: center; font-weight: normal;}			
			.yz-idx-event-search-tag1-list a:hover { background-color: #333; color: #FFF; -webkit-transition: all 500ms; }
			
		.yz-idx-event-search-tag2-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; width: 497px; height:0px; overflow: hidden; z-index: 2000; }
			.yz-idx-event-search-tag2-list-title { height: 50px; width: 497px;}
				.yz-idx-event-search-tag2-list-title a { color: #FFF; background-color: #333; float: left; line-height: 50px; width: 71px; text-align: center; cursor: default; font-size: 14px;}
				.yz-idx-event-search-tag2-list-title-on { background: #FFF !important;  color: #333 !important;}
					.yz-idx-event-search-tag2-list-title a:hover { color: #FFF;}
			.yz-idx-event-search-tag2-list-off { display: none;}
			.tab-2,.tab-3,.tab-4,.tab-5,.tab-6,.tab-7 { display: none;}
			.tab-list { float: left; }
			.tab-list a { width: 61px; height: 30px; margin: 10px 5px; line-height: 30px; float: left; color: #000; text-align: center; font-size: 12px; }
				.tab-list a:hover { background-color: #333; color: #FFF; -moz-border-radius: 4px; -webkit-border-radius: 4px; -webkit-transition: all 500ms;}
				.event-icon6 { background: url(../img/show-bodyico.png) -151px -523px no-repeat;}
				.event-icon10 { background: url(../img/show-bodyico.png) -156px -424px no-repeat;}


		.yz-idx-event-search-tag3-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; width: 130px; height:0px;  overflow: hidden; z-index: 2000; }
			.yz-idx-event-search-tag3-list a { border: none; float: left; width: 70px; color: #333; line-height: 40px; height: 40px; font-size: 14px; padding-left: 50px; font-weight: normal; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px;}			
			.yz-idx-event-search-tag3-list a:hover { background-color: #333; color: #FFF; -webkit-transition: all 500ms; }

		.yz-idx-event-search-tag4-list { position: absolute; top: 54px; left: 0; background: url(../img/whitebg80.png) repeat; width: 130px; height:0px; overflow: hidden; z-index: 2000; }
			.yz-idx-event-search-tag4-list a { border: none; float: left; width: 70px; color: #333; line-height: 40px; height: 40px; font-size: 14px; padding-left: 50px; font-weight: normal; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px;}			
			.yz-idx-event-search-tag4-list a:hover { background-color: #333; color: #FFF; -webkit-transition: all 500ms; }
		.yz-idx-event-search-tag5 { display: none;}

/*--------------------------事件搜索结果---------------------------*/


	.yz-record-ul { width: 610px; padding: 0 15px;}
	.yz-record-ul li { padding-bottom: 20px;}
		.yz-record-list { width: 598px; height: 85px; padding: 6px;}
		.yz-record-list:hover { border: 1px solid #3BB; padding: 5px;}
		.yz-record-info { width:500px; height: 85px;}
		.yz-record-title { line-height: 20px; font-size: 14px; color: #666; overflow: hidden;}
		.yz-record-title span { padding: 0 8px; background: #3BB; color: #FFF !important; margin-right: 10px; font-size: 14px;}
		.yz-record-tags { display: block; height: 20px; line-height: 20px; width: 500px; overflow: hidden; margin-top: 10px; text-shadow: 1px 1px 1px #FFF;}
			.yz-record-tags  a { color: #999; float: left; margin-right: 5px;}
			.yz-record-tags  a:hover { color: #000; -webkit-transition: all 500ms;}
			.yz-record-by { display: block; height: 25px; line-height: 25px; width: 500px; overflow: hidden; margin-top: 10px;}
			.yz-record-by a { float: left; height: 25px; margin-right: 10px; color:#666; text-shadow: 1px 1px 1px #FFF;}
			.yz-record-by span { float: left; color: #999; margin-right: 10px;}
		.yz-record-enter-havepic a,.yz-record-enter-nopic a { display: block; height: 85px; width: 85px; overflow: hidden; position: relative;}
		.yz-record-enter-havepic a span { display: none; height: 85px; width: 85px; background: url(../img/show-bodyico.png) -1px -810px no-repeat; position: absolute; top: 0; left: 0;}
		.yz-record-enter-havepic a:hover span{ display: block;}
		.yz-record-enter-nopic a { background: url(../img/show-bodyico.png) -88px -810px;}
		.yz-record-enter-nopic a:hover { background: url(../img/show-bodyico.png) -176px -810px;}

	
/*--------------------------日历---------------------------*/

	.yz-idx-calendar { height: 402px; width: 336px;  overflow: hidden; position: relative; z-index: 2; border-bottom: 1px solid #CCC;}
	.yz-idx-calendar-title { height: 50px; border-bottom: 1px solid #CCC; position: relative;}
		.yz-idx-calendar-yearbox { height: 50px; width: 170px; overflow: hidden; margin-left: 21px; position: relative;}
			.yz-idx-calendar-left { display: block; height: 50px; width: 50px; background: url(../img/show-bodyico.png) -129px -1421px; position: absolute; top: 0; right: 50px; cursor: pointer; outline: none; border: 0px outset buttonface;}
				input.yz-idx-calendar-left:hover { background: url(../img/show-bodyico.png) -23px -1421px; }
			.yz-idx-calendar-right { display: block; height: 50px; width: 50px; background: url(../img/show-bodyico.png) -188px -1421px; position: absolute; top: 0; right: 0px; cursor: pointer; outline: none; border: 0px outset buttonface;}
				input.yz-idx-calendar-right:hover { background: url(../img/show-bodyico.png) -69px -1421px;}
		.yz-idx-calendar-yearbox-move { height: 50px; width: 170px; position: absolute; top: 0; left: 0;}
		.yz-idx-calendar-year { line-height: 50px; color: #3BB; font-size: 24px;  position: absolute; top: 0; left: 0px;}
		.yz-idx-calendar-year-en { display: block; width: 50px; height: 20px; line-height: 20px; color: #333; position: absolute; top: 20px; left: 110px;}
		.yz-idx-calendar-week { width: 294px; height: 42px; margin-left: 21px; border-bottom: 1px solid #CCC;}
			.yz-idx-calendar-week span { float: left; width: 42px; height: 42px; line-height: 42px; text-align: center; color: #999;}
			.yz-idx-calendar-sun { color: #F00 !important;}
		.yz-idx-calendar-datebox {  margin-left: 21px; width: 294px; height: 262px; overflow: hidden; position: relative; border-bottom: 1px solid #CCC; z-index: 1;}
			.yz-idx-calendar-date { position: absolute; top: 5px; left: 0; width: 294px; height: 252px; z-index: 99;}
			.yz-idx-calendar-date a { float: left; text-align: center; height: 42px; width: 42px; line-height: 42px; color: #999; cursor: pointer; position: relative;}
				#date-thisday { background: #3BB; color: #FFF;}
				.date-sun { color: #F00;}
				.yz-idx-calendar-date a:hover { background: #666; color: #FFF; -webkit-transition: all 500ms;}
				.date-none:hover { background: none !important; cursor: default;}
		.yz-idx-calendar-srch { position: absolute; left: 21px; bottom: 2px; height: 42px; width: 294px; }
		#yz-idx-c-srch-b,#yz-idx-c-srch-e { height: 30px; width: 100px; text-align: center; line-height: 30px; margin: 5px 0; color: #999; border: 1px solid #CCC; font-size: 14px;}
		#yz-idx-c-srch-t { height: 30px; width: 30px; text-align: center; line-height: 30px; margin: 5px 0; color: #999; font-size: 20px;}
		.yz-idx-c-srch-go { height: 30px; width: 50px; background: #666; text-align: center; line-height: 30px; margin: 5px 0; color: #FFF; font-size: 14px; border: 1px solid #CCC; cursor: pointer;}
			a.yz-idx-c-srch-go:hover { background: #3BB; -webkit-transition: all 500ms;}
			
/*--------------------------内容页---------------------------*/

/*--------------------------作品内容页---------------------------*/

	.yz-idx-showct{ padding: 0 20px;}
		.yz-idx-showct-name { height: 50px; line-height: 50px; font-size: 18px; margin-top: 4px; color: #3BB;}
			a.yz-idx-showct-name:hover { color: #333;}		
		.yz-idx-showct-title { height: 50px; line-height: 50px; font-size: 18px; margin-top: 4px; color: #333;}
		.showct-ctbody {position: relative; min-height: 402px; padding-bottom: 20px; text-shadow: 1px 1px 1px #FFF;}
		.showct-ct-title { position: relative;}
		.showct-ct-title-p { line-height: 30px; padding:10px 20px; color: #333; font-size: 18px; font-weight: bold; }
		.showct-ct { width: 600px; overflow: hidden; margin-left: 20px; }
		.showct-ct-tupian { padding: 20px 0; border-bottom: 1px dashed #CCC;}
			.showct-ct-tupian a { display: block; width: 600px;  margin-bottom: 20px; text-align: center;}
			.showct-ct-tupianimg { max-width: 600px;}
		.showct-ct-shipin { padding: 20px 0; width: 600px; overflow: hidden;}
		.showct-ct-direction,.showct-ct-tupian p { font-size: 14px; color: #666; width: 600px; line-height: 30px;}
		.showct-ct-surpot { width: 640px; height: 160px;}
			.showct-ct-surpot-num { width: 300px; margin-left: 20px; line-height: 120px; text-align: center; font-size: 60px; color: #999;}
			.showct-ct-surpot-icon-on { width: 120px; height: 120px; margin-right: 100px; background: url(../img/show-bodyico.png) -5px -1094px no-repeat; cursor: pointer;}
				a.showct-ct-surpot-icon-on:hover { background: url(../img/show-bodyico.png) -127px -1094px no-repeat;}
			.showct-ct-surpot-icon-off {  width: 120px; height: 120px; margin-right: 100px; background: url(../img/show-bodyico.png) -5px -1219px no-repeat;}
		.ue-work-more { width: 336px; color: #999; text-shadow: 1px 1px 1px #FFF; }
			.ue-work-more li { float: left; width: 145px; margin-left: 15px; margin-top: 10px; position: relative;}
				.ue-work-more li a { display: block; width: 145px; height: 89px; overflow: hidden;}
				.ue-work-more li p { line-height: 30px; height: 30px; overflow: hidden;}
			.ue-more-video span { display: block; height: 52px; width: 52px; position: absolute; top: 18px; left: 46px; background: url(../img/show-bodyico.png) -19px -740px no-repeat;}
			.ue-more-txt a { background: #FFF;}
			.ue-more-txt a p{  width: 135px; height: 80px; line-height: 20px; color: #999; margin: 4px 5px 5px; overflow: hidden;}
			.ue-more-voice a { background: #FFF;}
			.ue-more-voice span{ display: block; height: 50px; width: 50px; background: url(../img/show-bodyico.png) -111px -739px no-repeat; position: absolute; top: 19px; left: 46px;}
		.showct-team { width: 600px; padding: 0 20px;}
			.showct-team p { line-height: 25px; font-size: 14px; color: #666;}
				.showct-team p a:hover { text-decoration: underline;}
			

/*--------------------------事件内容页---------------------------*/
	.ue-maintitle { width: 600px;}
	.eventct-ct-info { width: 600px; margin-left: 20px; overflow: hidden; font-size: 14px; color: #999;}
	.eventct-ct-time { line-height: 30px; height: 30px; width: 560px; padding-left: 30px; background: url(../img/show-bodyico.png) -125px -1362px no-repeat; }
	.eventct-ct-add { line-height: 30px; width: 560px; padding-left: 30px; background: url(../img/show-bodyico.png) -125px -1393px no-repeat;}
	.eventct-ct-email { line-height: 30px; width: 560px; padding-left: 30px; background: url(../img/show-bodyico.png) -37px -1898px no-repeat;}
	.eventct-ct-img1,.eventct-ct-img2 { width: 600px; margin-left: 20px; overflow: hidden;}
		.eventct-ct-img1 a { height: 150px; width: 150px; float: left; overflow: hidden; cursor: pointer; position: relative;}
		.eventct-ct-img2 a { width: 600px; float: left; overflow: hidden; cursor: pointer; text-align: center; margin-bottom: 10px;}
			.eventct-ct-img1 a:hover { opacity: 0.8; filter: alpha(opacity=80); }			
			.eventct-ct-img1 img { position: relative;}
			.eventct-ct-img2 img { max-width: 600px; float: left;}
	.eventct-ct-description { width: 600px; margin-left: 20px; overflow: hidden;}
		.eventct-ct-description p { line-height: 30px; font-size: 14px; color: #666;}
		.eventct-ct-description a { color: #999; text-decoration: underline;}
	.eventct-ct-zhaopin { width: 600px; margin-left: 20px; overflow: hidden; padding-bottom: 20px; border-bottom: 1px dashed #999;}
		.eventct-ct-zhaopin p { line-height: 30px; font-size: 14px; color: #666;}
		.eventct-ct-zhiwei { width: 600px; height: 30px; padding: 10px 0;}
		.eventct-ct-zhiwei h1 { float: left; line-height: 30px; color: #333; font-size: 16px; font-weight: bold;}
			.eventct-zhiwei-focus { line-height: 28px; border: 1px solid #CCC; font-size: 14px; padding-left: 40px; padding-right: 10px; color: #666; cursor: pointer; background: url(../img/show-bodyico.png) -18px -609px no-repeat; margin-left: 10px; background-color: #E2E2E2;}
			a.eventct-zhiwei-focus:hover {background: url(../img/show-bodyico.png) -18px -678px no-repeat; background-color: #3BB; color: #FFF; text-shadow: none;}
			.eventct-zhiwei-focuson { height: 30px; padding-left: 40px; width: 10px; background: url(../img/show-bodyico.png) -18px -646px no-repeat; margin-left: 10px;}
	.yz-idx-report { display: block; position: absolute; bottom: 10px; right: 10px;  outline: 0 none;  padding: 0 10px; line-height: 30px; height: 30px;  color: #333; background: #FFF; font-size: 12px; border: 1px solid #E2E2E2;}
	.yz-idx-report:hover { background: #3BB; cursor: pointer; color: #FFF; -webkit-transition: all 500ms;}

/* ------------记录添加媒体报道--------- */

.ue-idx-report { height: 100%; width: 100%; position: fixed; top: 0; left: 0; background: url(../img/pngbg80.png) repeat; z-index: 1000;}
				.ue-idx-report-choose { width: 600px; height: 280px; padding: 10px 0; position: absolute; top: 50%; left: 50%; margin-left: -300px; margin-top: -150px; z-index: 1001; border-top: 2px solid #FFF; border-bottom: 2px solid #FFF;}
				.ue-report-close {	display: block; width: 70px; height: 70px; position: fixed; top: 0px; right: 0px; background: url(../../static/img/report.png) -197px -35px no-repeat; cursor: pointer; z-index: 1005;}
				.ue-report-close:hover{ background: url(../../static/img/report.png) -310px -35px no-repeat;}
				.ue-idx-report-choose div.z { width: 600px; height: 280px; position: relative;}
				.ue-idx-report-choose p {  line-height: 40px; height: 40px; color: #FFF; font-size: 18px; position: absolute; left: 0; top: -60px;}
				.ue-report-newpost { display: block; position: absolute; bottom: -50px; right: 0;  outline: 0 none;  padding: 0 10px; line-height: 30px; height: 30px;  color: #333; background: #FFF; font-size: 12px; border: 1px solid #E2E2E2;}
				.ue-report-newpost:hover { background: #3BB; cursor: pointer; color: #FFF; -webkit-transition: all 500ms;}
				.ue-idx-report-choose div.y { width: 600px; height: 280px;  position: relative; overflow: hidden; }
				.ue-idx-report-choose-ul { display: block; width: 600px; position: absolute; left: 0; }
					.ue-idx-report-choose-ul li { float: left; width: 600px; height: 40px; }
						.ue-idx-report-choose-ul li:hover span { color: #3BB;}
					.ue-idx-report-choose-ul span { width: 400px; font-size: 14px; color: #FFF; float: left; line-height: 39px;}
					.ue-idx-report-choose-ul a { float: right; margin-left: 10px; width: 22px; height: 22px; margin-top: 9px;}
					.ue-idx-report-choose-yes { background: url(../../static/img/report.png) 0 0 no-repeat;}
					.ue-idx-report-choose-yes:hover { background: url(../../static/img/report.png) -30px 0 no-repeat;}
					.ue-idx-report-choose-watch { background: url(../../static/img/report.png) 0 -30px no-repeat;}
					.ue-idx-report-choose-watch:hover { background: url(../../static/img/report.png) -30px -30px no-repeat;}
				.ue-idx-report-note { font-size: 14px !important; line-height: 40px; color: #FFF; top: 0 !important;}
				.ue-idx-report-note i { color: #3BB; padding: 0 5px;}
				.ue-report-search { height: 30px; position: absolute; right: 0; top: -54px;}
				.ue-report-search-text { width: 180px; height: 18px; line-height: 18px; font-size: 12px; padding: 4px 5px 6px;  outline: none; background: none; border: 1px solid #FFF ; border-right: none !important; font-family: "Microsoft YaHei"; color: #FFF; }
				.ue-report-search-sub { height: 30px; width: 30px; outline: 0 none;  background-color: buttonface; border: 1px solid #FFF; cursor: pointer; background: url(../../static/img/show-bodyico.png) -49px -1375px no-repeat;}
				.ue-report-scoll { height: 32px; width: 95px; position: absolute; bottom: -50px; left: 0;}
					.ue-report-scoll input.y {  height: 32px; width: 40px; background: url(../../static/img/report.png) -81px -4px no-repeat;  cursor: pointer; outline: none; border: 1px solid #FFF;}
					.ue-report-scoll input.y:hover { background: url(../../static/img/report.png) -125px -4px no-repeat; }
					.ue-report-scoll input.z {  height: 32px; width: 40px; background: url(../../static/img/report.png) -81px -42px no-repeat;  cursor: pointer; outline: none; border: 1px solid #FFF;}
					.ue-report-scoll input.z:hover {  background: url(../../static/img/report.png) -125px -42px no-repeat; }
				.ue-report-yesbutton { height: 40px; width: 600px; position: absolute; bottom: 25px; left: 0px;}
					.ue-report-yesbutton input { height: 40px; width: 280px; background: none;  cursor: pointer; outline: none; border: 1px solid #FFF; color: #FFF; font-size: 14px;}
					.ue-report-yesbutton input:hover { background: #FFF; color: #333;}

/* -------------------------个人主页部分------------------------ */

/*
	Level:			Channal
	Explain:		个人主页通用样式
	Last Modify:	Alex
*/

	.ue-hp-title { height: 50px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; text-shadow: 1px 1px 1px #FFF;}
	.ue-hp-title h1 {line-height: 50px; color: #3BB; }
	.ue-hp-topbody { padding: 40px 0; border-bottom: 1px solid #CCC; position: relative;}
	.ue-hp-topbody-info { text-shadow: 1px 1px 1px #FFF; line-height: 49px; width: 300px; padding-left: 25px;}
	.ue-hp-topbody-info p { border-bottom: 1px solid #CCC;}
	.ue-people-follow { height: 40px; width: 150px; background: #3BB;  cursor: pointer; outline: none; border: 1px solid #CCC; color: #FFF; font-size: 14px; margin-top: 10px;}
	.ue-people-unfollow { height: 40px; width: 150px; background: #F2F2F2;  cursor: pointer; outline: none; border: 1px solid #CCC; color: #999; font-size: 14px; margin-top: 10px;}
	.ue-people-post { height: 40px; width: 150px; background: #3BB;  cursor: pointer; outline: none; border: 1px solid #CCC; color: #FFF; font-size: 14px; margin-top: 10px;}
		.ue-people-follow:hover,.ue-people-unfollow:hover,.ue-people-post:hover{ background: #333; color: #FFF; -webkit-transition: all 500ms;}
	.ue-people-v { text-shadow: 1px 1px 1px #FFF; width: 336px; height: 200px; padding-left: 13px; border-left: 1px solid #CCC;}
		.ue-people-v h2 { line-height: 49px; color: #666;}
		.ue-people-v p { line-height: 25px; color: #999;}
		.ue-people-v strong { color: #3BB; padding-right: 5px; font-family: Arial;}
	.ue-hp-nav { width: 1000px; height: 28px; padding: 16px 0; position: absolute; bottom: -60px; left: 227px; }
		.ue-hp-nav a { line-height: 25px; float: left; background: #666; border-bottom: 3px solid #333; padding: 0 5px; margin-right: 20px; color: #FFF; font-size: 14px;}
		.ue-hp-nav a:hover,.ue-hp-nav a.active { background: #3BB; border-bottom: 3px solid #066; -webkit-transition: all 500ms;}
	.yz-idx-more span.z { padding-left: 25px;}
	.ue-icon-work { background: url(../img/hp-bodyico.png) -382px -14px no-repeat;}
	.ue-icon-record { background: url(../img/hp-bodyico.png) -383px -160px no-repeat;}
	.ue-icon-media { background: url(../img/hp-bodyico.png) -382px -124px no-repeat;}
	.ue-icon-affect { background: url(../img/hp-bodyico.png) -383px -56px no-repeat;}
	.ue-icon-love { background: url(../img/hp-bodyico.png) -383px -89px no-repeat;}
	.yz-idx-more-1 { width: 306px; margin-left: 15px;}
		.yz-idx-more-1 li { float: left; margin: 3px; height: 25px;}
			.yz-idx-more-1 li a { border: 1px solid #CCC; padding: 3px 8px; color: #333; background: #FFF;}
				.yz-idx-more-1 li a:hover { color: #FFF; background: #3BB; -webkit-transition: all 500ms;}
	/*加载*/
	.yz-hp-loading { width: 100px; height: 20px; background: url(../img/loading.gif) no-repeat; margin: 20px auto;}
	

/*
	Level:			Function
	Explain:		个人主页底部信息样式
	Last Modify:	Alex
*/	
	
	.user-ftbg { min-width: 1242px; height: 50px; background: url(../img/bgt.jpg) repeat; overflow: hidden; position: relative; margin-top: 40px;}
		.user-ftbg p { line-height: 50px; color: #FFF; text-align: center;}
		
/*
	Level:			Function
	Explain:		个人主页作品展示
	Last Modify:	Alex
*/			
.yz-hp-othr-num { display: block; height: 25px; line-height: 25px; width: 293px; padding-left: 5px; overflow: hidden; margin-top: 20px; position: relative;}
		.yz-hp-othr-num span { display: block; padding-left: 20px; padding-right: 5px; float: left; color: #999;}
		.yz-hp-othr-view { background: url(../img/hp-bodyico.png) -10px -276px no-repeat;}
		.yz-hp-othr-sup { background: url(../img/hp-bodyico.png) -10px -302px no-repeat;}
		.yz-hp-othr-reply { background: url(../img/hp-bodyico.png) -10px -327px no-repeat;}
		.yz-hp-othr-off {padding: 0 !important;  height: 25px; width: 25px; position: absolute; right: 5px; top: 0px; background: url(../img/hp-bodyico.png) -11px -521px; }		
		.yz-hp-othr-on { padding: 0 !important; height: 25px; width: 25px; position: absolute; right: 5px; top: 0px; background: url(../img/hp-bodyico.png) -64px -521px; }
.yz-work-li-bg:hover .yz-hp-show-ct { display: block;}	
	.yz-hp-show-ct { display: none; width:230px; height: 20px; position: absolute; top: 11px; right: 11px; z-index: 100;}
	.yz-hp-show-ct a{ padding-left: 25px; padding-right: 5px; line-height: 20px; color: #FFF; margin-left: 5px; background-color: #666; }
	.yz-hp-show-ct a:hover { background-color: #333; -webkit-transition: all 500ms; }
		.hp-show-del { background: url(../img/hp-bodyico.png) -4px -120px no-repeat;}
		.hp-show-edit { background: url(../img/hp-bodyico.png) -4px -95px no-repeat;}
		.hp-show-on { background: url(../img/hp-bodyico.png) -4px -254px no-repeat ;}
		.hp-show-off { background: url(../img/hp-bodyico.png) -4px -234px no-repeat ;}
	.hp-record-off { padding: 3px 13px; background: url(../img/hp-bodyico.png) -9px -520px; cursor: default;}
/*
	Level:			Function
	Explain:		个人主页记录通告
	Last Modify:	Alex
*/	
	.yz-record-ul li:hover .yz-record-by a.z { display:block;}
	.yz-record-by a.z{ display: none; padding-left: 25px; padding-right: 5px; line-height: 20px !important; color: #FFF; margin: 2px 10px 0 0;background-color: #666; height: 20px; text-shadow: none;}
	.yz-record-by a.z:hover { background-color: #333; -webkit-transition: all 500ms;}
/*
	Level:			Function
	Explain:		个人主页关注的用户
	Last Modify:	Alex
*/		
	.ue-user-list li:hover .yz-hp-show-ct { display: block;}	
/*
	Level:			Function
	Explain:		个人主页资料
	Last Modify:	Alex
*/		
	.ue-hp-info { padding: 0 15px;}
	.ue-hp-info p { line-height: 25px; padding: 0 0 20px; color: #333; text-shadow: 1px 1px 1px #FFF;}
	.ue-hp-info span { line-height: 25px; padding: 4px 10px; background: #3BB; color: #FFF; text-shadow: none; margin-right: 10px;}
/* ---------end------------------------ */

/*发布器加载选项*/
.ue-hdbg-editor { background: #FFF; overflow: hidden;}
.ue-hdline {display: none !important;}
.editor-logo { height: 89px; width: 150px; background: url(../img/fabulogo.png) no-repeat; margin-top: 25px;}
.yz-editorbody { background: url(../img/background1.png) repeat; height: auto; min-width: 1242px;}
	.yz-editorbody>div>div.w640 { border-left: 1px solid #CCC; border-right: 1px solid #CCC;}
input { background: none;}

.ue-editor-btn { margin-left: 50px; margin-top: 35px; height: 90px; line-height: 40px;}
	.ue-editor-btn a { border: 1px solid #CCC; padding: 5px 10px;  color: #333;}
		.ue-editor-btn a:hover,.ue-editor-btn a.active { background: #3BB; color: #FFF; -webkit-transition: all 500ms;}
.editor-btn { margin-left: 50px; margin-top: 25px;}
	.editor-btn a { width: 90px; height: 90px; overflow: hidden; margin-right: 45px;}
		.editor-btn1 { background: url(../img/editor.png) 0 -96px no-repeat;}
			a.editor-btn1:hover,.editor-btn1on { background: url(../img/editor.png) -97px -96px no-repeat;}
		.editor-btn2 { background: url(../img/editor.png) 0 0 no-repeat;}
			a.editor-btn2:hover,.editor-btn2on { background: url(../img/editor.png) -97px 0 no-repeat;}
		.editor-btn3 { background: url(../img/editor.png) 0 -191px no-repeat;}
			a.editor-btn3:hover,.editor-btn3on { background: url(../img/editor.png) -97px -191px no-repeat;}
		.editor-btn4 { background: url(../img/editor.png) 0 -286px no-repeat;}
			a.editor-btn4:hover,.editor-btn4on { background: url(../img/editor.png) -97px -286px no-repeat;}
		.editor-btn5 { background: url(../img/editor.png) 0 -381px no-repeat;}
			a.editor-btn5:hover,.editor-btn5on { background: url(../img/editor.png) -97px -381px no-repeat;}
.editor-bk { width: 90px; height: 90px; margin-top: 25px;}
.editor-back { display: block; width: 90px; height: 90px; background: url(../img/icon-hd.png) -327px -105px no-repeat;  cursor: pointer; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
	a.editor-back:hover { background: url(../img/icon-hd.png) -423px -105px no-repeat;}
