
/*-------------------------------------------------------*/
/*
	Level:			Global
	Explain:		全局通用样式
	Last Modify:	Alex
*/
	* { word-wrap: break-word;}
	body { font-family: "Microsoft Yahei"; font-size: 12px; color: #333; min-height: 100%; background: url(../img/background1.png) repeat; min-width: 1040px;}
	body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
	ul li { list-style: none; }
	a { color: #3BB; text-decoration: none; outline: none;}
		body a:hover { text-decoration: none; }
		img { border: none; background-color: #333;}
	label { cursor: pointer; }
	input { font-family: "Microsoft Yahei"; }
	
/*
	Level:			Global
	Explain:		body宽度
	Last Modify:	Alex
*/
	.wp { width: 100%;}
	.wp1000 { margin: 0 auto; width: 1000px;}
	.w800 { width: 800px;}
	.w200 { width: 200px;}
	.w490 { width: 590px;}
	.w640 { width: 640px;}
	.w336 { width: 336px;}
	.w400 { width: 400px;}
/*
	Level:			Global
	Explain:		浮动
	Sample:			class="z/y"
	Last Modify:	Alex
*/
	.z { float: left;}
	.y { float: right;}
	
/*
	Level:			Global
	Explain:		清除浮动
	Sample:			class="cl"
	Last Modify:	Alex
*/
	.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
	.cl { zoom: 1;}
	
/*
	Level:			Global
	Explain:		顶部边距
	Last Modify:	Alex
*/
	.mgt10 { margin-top: 10px;}
	.mgt20 { margin-top: 20px;}
	.mgt40 { margin-top: 40px;}
	.mgt60 { margin-top: 60px;}
	.mgt100{ margin-top: 100px;}
	.pdt40 { padding-top: 40px;}
/*-------------------------------------------------------------------------*/

.ue-othr-header { width: 100%; height: 50px; background: url(../img/pngbg.png) repeat;}
	.ue-othr-header-mid { height: 50px;}
	.ue-othr-logo-area { height: 50px; width: 250px; position: relative; }
	.ue-othr-logo { height: 50px; width: 78px; background: url(../img/other.png) 0px 1px;}
	.ue-othr-maintitle { display: block; padding: 0 10px; height: 30px; line-height: 30px; color: #FFF; font-size: 14px; background: #3BB; position: absolute; left: 90px; bottom: 5px;}
	.ue-othr-nav { height: 50px; line-height: 50px; width: 750px; position: relative; }
		.ue-othr-nav1{ height: 50px;}
		.ue-othr-nav1 li { float: left; padding-left:20px; line-height: 50px; font-size: 14px}
		.ue-othr-nav1 li a { color: #FFF;}
			.ue-othr-nav1 li a:hover { color: #F2F2F2;}
		.ue-othr-nav2 { height: 30px; position: absolute; top: 55px; right: 0; }
		.ue-othr-nav2 li { float: left; padding-left:20px; line-height: 30px;}
		.ue-othr-nav2 li a { color: #333; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);}
			.ue-othr-nav2 li a:hover { color: #3BB; text-decoration: underline;}
	.ue-othr-tt{ width: 1000px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; padding: 20px 0; margin-top: 80px;}
	.ue-othr-title {  display: block; padding: 0 20px;  height: 30px; line-height: 30px; font-size: 18px; color: #666; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
	.ue-othr-title-en { display: block; padding: 0 20px;  height: 30px; line-height: 30px; font-size: 12px; color: #999;}
/*footer*/
.ue-othr-footer { background: #FFF; height: 330px; width: 100%; overflow: hidden;}
.ue-sitemap-tt { width: 1000px;}
	.ue-sitemap-tt h2 { margin-top: 10px; float: left; padding: 10px 0; border-bottom: 1px solid #333; color: #3BB;}
.ue-sitemap1 { width: 200px; overflow: hidden; margin-top: 20px;}
	.ue-sitemap1 a { float: left; color: #999; padding: 0 20px; line-height: 25px;}
	.ue-sitemap1 a:hover { color:#3BB;}
.ue-sitemap2 { width: 190px; overflow: hidden; margin-top: 20px;}
	.ue-sitemap2 a { float: left; color: #999; padding-right: 20px; line-height: 25px;}
	.ue-sitemap2 a:hover { color:#3BB;}
.ue-sitemap-bottom {  border-top: 1px solid #F2F2F2; overflow: hidden; margin-top: 20px;}
.ue-sitemap-bottom a { margin-right: 10px; line-height: 30px; color: #CCC;}
.ue-sitemap-bottom a:hover { color: #3BB;}
	
/*一分钟知晓我们*/
.ue-othr-knowus-1 { width: 960px; padding: 20px; height: 325px;  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
	.ue-othr-knowus-1-pic { width: 400px; height: 325px; background: url(../img/other.png) -10px -95px;}
	.ue-othr-knowus-1-text { width: 520px; height: 325px; overflow: hidden;}
	.ue-othr-knowus-1-text h1 { text-align: right; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); color: #333; padding: 20px 0;}
	.ue-othr-knowus-1-text p { line-height: 25px;}
.ue-othr-knowus-2 { width: 1000px; padding: 20px 0;  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
	.ue-othr-scollbtn { width: 1000px; height: 76px;}
	.ue-othr-scollbtn a { display: block; height: 76px; width: 76px; margin: 0 auto; background: url(../img/other.png) -144px -4px;}
	.ue-othr-scollbtn a:hover { background: url(../img/other.png) -224px -4px;}
	.one-third{  padding: 0 20px; width: 293px; float: left; margin-top: 20px; }
	.one-third p {line-height: 20px; color: #333;margin: 9px 0;}
	.one-two { padding: 0 20px; width: 460px; float: left; margin-top: 20px;}
	.one-two p {line-height: 20px; color: #333;margin: 9px 0;}
.ue-othr-knowus-3 { width: 960px; padding: 20px; height: 210px;  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
	.ue-othr-knowus-3-pic { width: 400px; height: 220px; background: url(../img/other.png) -5px -455px no-repeat;}
	.ue-othr-knowus-3-text { width: 520px; height: 325px; overflow: hidden;}
	.ue-othr-knowus-3-text h1 { text-align: left; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); color: #333; padding: 20px 0;}
	.ue-othr-knowus-3-text p { line-height: 25px;}
.ue-othr-end { width: 1000px; height: 50px; padding: 150px 0; }
	.ue-othr-end p { line-height: 50px; text-align: center; font-weight: bold; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); color: #333; font-size: 50px;}