
/*
	Level:			Global
	Explain:		全局
	Last Modify:	Alex
*/
	* { word-wrap: break-word;}
	body { font-family: "Microsoft Yahei"; font-size: 12px; color: #333; min-height: 100%; background: url(../img/background1.png) repeat;}
	body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
	ul li { list-style: none; }
	a { color: #3BB; text-decoration: none; outline: none;}
		body a:hover { text-decoration: none; }
		img { border: none; background-color: #333;}
	label { cursor: pointer; }
	input { font-family: "Microsoft Yahei"; -webkit-appearance:none;-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;}
	
/*
	Level:			Global
	Explain:		body宽度
	Last Modify:	Alex
*/
	.wp { width: 100%;}
	.w1000 { margin: 0 auto; width: 1000px; position: relative; z-index: 999;}
	.wp1000 { margin: 0 auto; width: 1202px;}

/*
	Level:			Global
	Explain:		浮动
	Sample:			class="z/y"
	Last Modify:	Alex
*/
	.z { float: left;}
	.y { float: right;}
	
/*
	Level:			Global
	Explain:		清除浮动
	Sample:			class="cl"
	Last Modify:	Alex
*/
	.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
	.cl { zoom: 1;}
	
/*
	Level:			Global
	Explain:		顶部边距
	Last Modify:	Alex
*/
	.mgt10 { margin-top: 10px;}
	.mgt20 { margin-top: 20px;}
	.mgt40 { margin-top: 40px;}
	.mgt60 { margin-top: 60px;}
	.mgt100{ margin-top: 100px;}


/*
	Level:			Global
	Explain:		header
	Last Modify:	Alex
*/
	.yz-hdbg { position: fixed; height: 140px; min-width: 1242px; background: url(../img/background1.png) repeat;  z-index: 1; border-bottom: 1px solid #CCC; }
	.ue-hdbg-editor {display:none;}
	.yz-hdline { position: absolute; height: 10px; top: 0px; left: 0px;  background: #333; }
	.yz-hd { height: 142px; position: relative; }
	.logo { position: absolute; top: 5px; display: block; background: url(../img/logo.png) 0px 0px no-repeat; width: 196px; height: 130px; }
		a.logo:hover { background: url(../img/logo.png) 0px 130px; }
		.logo span { position: absolute; top: 50px; right: 1px; display: none; background: url(../img/icon-hd.png) -438px -26px no-repeat; padding-left: 15px; height: 12px; overflow: hidden; line-height: 10px; font-size: 12px; color: #333; width: 40px; padding-top: 1px; }
		a.logo:hover span { display: block;}
	.yz-nav { display: block; width: 480px; position: absolute; top: 42px; left: 250px; overflow: hidden;}
		.yz-nav li { float: left; padding: 10px 25px 10px 0;}
		.yz-nav li a:link,.yz-nav li a:visited { font-size: 19px; color: #000;  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);}
		.yz-nav li a:hover { color: #3BB; -webkit-transition: all 100ms;}
		.yz-nav li span { color: #333;}
/*会员已登陆*/
	.yz-member { width: 260px; height: 90px; margin-top: 30px;}
		.yz-avt { display: block; margin-top: 20px; width: 46px; height: 46px; background-color: #FFF; padding: 2px;}
		.yz-meb-btn { width: 200px; height: 35px;  margin-top: 28px; }
			.yz-meb-btn a { display: block; width: 35px; height: 35px; margin-left: 15px; float: left; }
			a.yz-meb-btn1 { background: url(../img/icon-hd.png) -23px -20px no-repeat;}
				a.yz-meb-btn1:hover { background: url(../img/icon-hd.png) -23px -60px no-repeat; }
			a.yz-meb-btn2 { background: url(../img/icon-hd.png) -68px -20px no-repeat;}
				a.yz-meb-btn2:hover { background: url(../img/icon-hd.png) -68px -60px no-repeat;}
			a.yz-meb-btn3 { background: url(../img/icon-hd.png) -113px -20px no-repeat; position: relative;}
				a.yz-meb-btn3:hover { background: url(../img/icon-hd.png) -113px -60px no-repeat;}
				.yz-newmsg { line-height: 14px; color: #FFF; padding: 0 2px; background-color: #F60; position: absolute; top: -6px; left: 28px;  height: 14px; white-space:nowrap;}
			a.yz-meb-btn4 { background: url(../img/icon-hd.png) -158px -20px no-repeat;}
				a.yz-meb-btn4:hover { background: url(../img/icon-hd.png) -158px -60px no-repeat;}

        .yz-member p.y {text-align:right;color:#000;line-height:30px;margin-top:12px;width:260px;font-size:12px;}
        .yz-member a.y {height:23px;line-height:23px; padding:0 8px;background:#FFF; border: 1px solid #3BB; color:#3BB;margin-left:10px;}
        .yz-member a.y:hover {background:#333; color: #FFF; border: 1px solid #999; -webkit-box-shadow:1px 1px #f1f1f1;-moz-box-shadow:1px 1px #f1f1f1;}
		
/*注册成功引导页*/

.ue-user-allbody { min-width:1240px;width: 100%; height: 100%; opacity: 0.7; filter: alpha(opacity=70); top: 0; left: 0; background-color: black; position: fixed !important; z-index: 249;}
.user-1-bd {  width: 1000px; background: #F1F2F2; padding-bottom: 40px; position: relative; overflow: hidden;}
.user-1-right{ width: 300px; }
.user-left { width: 699px; position: relative; border-right: 1px solid #CCC;}
.user-1-avr { height: 212px; width: 212px; background: #FFF; border: 1px solid #CCC; margin-left: 40px; position: relative;}
	.user-1-avr-move:hover { cursor: move;}
	.user-1-avr-span { float: left; margin: 5px; height: 200px; width: 200px; overflow: hidden; position: relative; border: 1px solid #F2F2F2}
	.user-1-avr-hover { height: 200px; width: 200px; position: absolute; top: 0; left: 0; cursor: default;}
.user-1-avr-btn1 { width: 120px; height: 40px; position: absolute; bottom: 0; left: 0px; background: #3BB; outline: none; border: none; cursor: pointer; font-size: 14px;  color: #FFF; z-index: 999; text-align: center; line-height: 40px;}
#user-1-avr-btn1 { width: 150px; height: 40px; position: absolute; bottom: 0; left: 262px; z-index: 101; opacity: 0; filter: alpha(opacity=0);}
	.user-1-avr-btn1:hover { background: #333; -webkit-transition: all 500ms}
	.user-1-avr-btn2 { width: 120px; height: 40px; position: absolute; bottom: 0; left: 140px; background: #3BB; outline: none; border: none; cursor: pointer; font-size: 14px;  color: #FFF; z-index: 999; text-align: center; line-height: 40px;}
	.user-1-avr-btn2:hover { background: #333; -webkit-transition: all 500ms}
	.user-1-type,.user-1-sex { margin-left: 40px; width: 627px; min-height: 60px; padding-bottom: 12px; margin-bottom: 20px; line-height: 30px;}
	.user-1-tt { line-height: 30px; font-size: 14px; text-align: center; color: #FFF; background: #3BB; margin-right: 15px; width: 100px; height: 30px;}
	.user-1-tt-long { line-height: 30px; font-size: 18px; font-weight: bold; margin-right: 15px; width: 150px; height: 30px;}
	.user-1-tt1 { display: block; width:627px; height: 30px; line-height: 30px; font-size: 18px; color: #333; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);}
	.user-7-type .y { height: 28px; width: 80px; border: 1px solid #3BB;  outline: none; background: #FFF; cursor: pointer;}
		.user-7-type .y:hover { background: #333; color: #FFF; -webkit-transition: all 500ms;}
	#user-1-id1,#user-1-id2,#user-1-id3,#user-1-id4 { height: 30px;  line-height: 30px; font-size: 14px; padding-left: 35px; margin-left: 20px; cursor: pointer;}
	.user-1-explain { color: #999; width: 627px; line-height: 30px; text-shadow: 1px 1px 1px #FFF;}
		.user-1-explain i { color: #3BB;}
	.user-1-chooseoff { background: url(../img/user.png) -16px -18px no-repeat;}
	.user-1-chooseon { background: url(../img/user.png) -16px -66px no-repeat;}

	
.user-1-avr-text { position: absolute; left: 262px; top: 0; width: 350px; height: 90px;}
	.user-1-avr-text span { font-size: 14px; line-height: 30px;}
	.user-1-avr-text p { line-height: 30px; color: #999;}
.user-1-draw { display: block; width: 300px; height: 292px; background: url(../img/drawright.png) 0 0 no-repeat; margin-top: -146px; position: absolute; top: 50%; cursor: pointer;}
	a.user-1-draw:hover { background: url(../img/drawright.png) 0 -319px no-repeat;}
.user-copyright { line-height: 20px; color: #FFF; margin: 40px 0;}
	.user-1-next { display: block; width: 101px; height: 100px; position: absolute; top: 50%; right: 100px; margin-top: -50px; background: url(../img/drawright.png) -22px -644px no-repeat; cursor: pointer;}
	.user-1-next:hover {background: url(../img/drawright.png) -157px -644px no-repeat;}

/*用户管理中心*/
.user-close-window {display: block; width: 70px; height: 70px; position: fixed; top: 0px; right: 0px; background: url(../../static/img/report.png) -197px -35px no-repeat; cursor: pointer; z-index: 1005;}
.user-close-window:hover { background: url(../../static/img/report.png) -310px -35px no-repeat;}
.user-nav { width: 200px; margin-left: 50px;}
	.user-nav li { float: left; height: 40px; width: 200px; margin-bottom: 10px; position: relative;}
	.user-nav li a { display: block; height: 38px; line-height: 38px; text-align: center; background: #FFF; color: #333; font-size: 14px; cursor: pointer; border-left: 5px solid #F1F1F2;border-right: 3px solid #3BB;position: relative;}
		.user-nav li a:hover { left: -8px;background: #3BB; color: #FFF; -webkit-transition: all 500ms;}
	.user-nav .active { background: #3BB ! important; color: #FFF ! important; left: 0 ! important; }

	.user-normal { border: 1px solid #3BB; line-height: 20px; height: 20px; padding: 4px; outline: none; font-size: 14px; color: #999; width : 300px;}
	.user-agent {  border: 1px solid #3BB; line-height: 28px; height: 28px; font-size: 14px; color: #999; width : 260px; background: #FFF; padding: 0 4px;}
		.user-agentadd { border: 1px solid #CCC; width: 28px; height: 28px; margin-left: 10px; text-align: center; line-height: 24px; font-size: 24px; font-weight: bold; color: #FFF; background: #333; cursor: pointer;}
		.user-agentadd:hover { background: #3BB;}
	.user-explain { line-height: 30px; padding: 0 5px; font-size: 14px; color: #999;}
	.user-explain1 { line-height: 30px; width: 30px; text-align: center; font-size: 14px; color: #999;}
	.user-bust { border: 1px solid #3BB; line-height: 20px; height: 20px; padding: 4px; outline: none; font-size: 14px; color: #999; width : 35px;}
	#user-area1 { width: 143px; height: 28px; padding-right: 20px; line-height: 28px; border: 1px solid #3BB; text-align: center; font-size: 14px; background: url(../img/user.png) -220px -115px #FFF no-repeat; color: #999; margin-right: 20px; cursor: pointer;} 
	.user-area1{ width: 490px; border: 1px solid #3BB; background: #FFF; margin-top: 20px; padding: 10px;}
	.user-area1 p{ width: 490px;}
	.user-area1 a { font-size: 14px; float: left; line-height: 30px; width: 60px; margin: 0 5px; text-align: center; height: 30px; cursor: pointer; color: #999;}
		.user-area1 a:hover { background: #3BB; color: #FFF;}
.user-career { width: 91px; height: 28px; padding-right: 20px; line-height: 28px; border: 1px solid #3BB; text-align: center; font-size: 14px;  background: url(../img/user.png) -272px -115px #FFF no-repeat; color: #999; margin-right: 15px; cursor: pointer;}
.user-career-active { color: #3BB !important;}
	.user-area3 { width: 510px; border: 1px solid #CCC; background: #FFF; margin-top: 20px; padding-bottom: 8px;}
		.user-focuslist { width: 510px; height: auto; margin-top: 5px;}
			.user-focuslist a { float: left; width: 76px; height: 106px; margin-left: 8px; margin-top: 8px;  color: #666;}
			.user-focuslist img { border: 1px solid #3BB; width: 74px; height: 74px;}
			.user-focuslist a img,.user-focuslist a p { float: left;}
			.user-focuslist a p { width: 66px; padding: 0 5px; text-align: center; overflow: hidden; height: 20px; line-height: 20px; margin-top: 5px;}
				.user-focuslist a:hover { background: #3BB; color: #FFF; cursor: pointer; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0);}
	.user-focussearch { width: 494px; padding: 8px;}
	.user-focussrh-text {width: 263px; height: 20px; line-height: 20px; font-size: 14px; padding: 4px 5px 6px; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-bottom: 1px solid #CCC; border-right: none; outline: none; background: #FFF; font-family: "Microsoft YaHei"; color: #999;}
	.user-focussrh-sub {  height: 32px; width: 30px; border: 1px solid #CCC; outline: none; cursor: pointer; background: #FFF url(../img/user.png) -19px -301px no-repeat;}
	.user-focusnext { width: 90px;}
		.user-focusnext a:hover { color: #000; text-decoration: underline;}
	
	
	.user-career-list { background-color: #FFF; width: 510px; height:160px; overflow: hidden; border: 1px solid #3BB;}
		.user-career-list-title { margin-left: 10px; height: 40px; width: 490px;}
		.user-career-list-title a { color: #999;  float: left; line-height: 40px; width: 70px; text-align: center; cursor: default; font-size: 14px; border-bottom: 3px solid #FFF;}
		.user-career-list-title-on { color: #3BB !important; border-bottom: 3px solid #3BB !important;}
		.user-career-list-title a:hover { color: #333;}
		.user-career-list-off { display: none;}
		.tab-2,.tab-3,.tab-4,.tab-5,.tab-6,.tab-7 { display: none;}
		.tab-list { margin-top: 10px; float: left; margin-left: 10px;}
		.tab-list a { width: 70px; height: 30px; line-height: 30px; float: left; color: #999; text-align: center; cursor: pointer;}
		.tab-list a:hover { color: #FFF; background: #3BB;}
.user-addressbox { width: 308px; border: 1px solid #3BB; background: #FFF; height:44px;}
	.user-address { margin: 0 4px; width: 300px; height: 40px; border: none; outline: none; resize: none; line-height: 20px; font-size: 14px; font-family: "Microsoft Yahei"; color :#999; overflow: hidden;}
.user-introducebox { width: 510px; border: 1px solid #3BB; background: #FFF;}
	.user-introduce { margin: 0 4px; width: 502px; height: 120px; border: none; outline: none; line-height: 20px; font-size: 14px; font-family: "Microsoft Yahei"; color :#999; overflow: hidden; resize: none;}
.user-secrecy { height: 28px; line-height: 28px; border: 1px solid #CCC; background: #FFF; color: #999; width: 160px; text-align: center; position: relative; cursor: pointer;}
	.user-secrecy span { display: none; height: 90px; background: #3BB; line-height: 30px; border-bottom: 2px solid #000; position: absolute; top: 29px; left: 5px; width: 150px; }
	.user-secrecy span a { display: block; float: left; width: 150px; height: 30px; text-align: center; font-size: 12px !important; cursor: pointer; color: #FFF;}
		.user-secrecy span a:hover { background: #333; -webkit-transition: all 500ms; -webkit-box-shadow: 0px 1px 0px #000; -moz-box-shadow: 0px 2px 2px #000; }
.user-urlhead,.user-shequ-urlfront { line-height: 30px; font-size: 14px; color: #666; height: 30px;}
.user-url { margin-top: 4px; border: none; border-bottom: 1px solid #999; line-height: 20px; height: 20px; outline: none; font-size: 14px; color: #666; width : 175px; background: none;}
.user-shequ { width: 627px; height: auto;}
.user-shequ-li { width: 627px; height: 70px; margin-top: 20px; padding-bottom: 20px; border-bottom: 1px dotted #F1F1F0;}
.user-shequ-input { width: 597px; height: 30px; padding-left: 30px; margin-top: 10px;}
.user-shequ-1 { padding-left: 35px; width: 65px; font-size: 14px; margin-right: 15px; height: 30px; line-height: 30px; color: #FFF; background-color: #3BB !important;}
.user-shequ-url { margin-top: 4px; border: none; border-bottom: 1px solid #999; line-height: 20px; height: 20px; outline: none; font-size: 14px; color: #666; background: none;}
	.user-shequ-sina { background: url(../img/user.png) -22px -480px no-repeat; }
	.user-shequ-tencent { background: url(../img/user.png) -21px -530px no-repeat;}
	.user-shequ-qq { background: url(../img/user.png) -20px -579px no-repeat;}

.user-bangding { width: 627px; height: auto;}
	.user-bangding li { width: 627px; line-height: 30px; height: 30px; margin: 15px 0;}
	.user-bangding li a { height: 30px; line-height: 30px;text-shadow:1px 1px 1px #fff;}
	.user-bangding li a:hover { text-decoration: underline; cursor: pointer; color: #3BB;}
	.user-bangding-cancel { color: #CCC;}
.user-approve { width: 627px; margin: 15px 0;}
	.user-approve-tt { width: 627px; line-height: 30px; height: 30px;}
	.user-approve-tt a { font-size: 14px; float: left; height: 30px; line-height: 30px; font-weight: bold;}
	.user-approve-tt a:hover { text-decoration: underline; cursor: pointer;}
	.user-approve-tt-1 { padding-left: 30px; font-size: 14px; font-weight: bold; margin-right: 15px; height: 30px; line-height: 30px;}
.user-num { width: 627px; height: auto; margin: 25px 0 8px;}
	.user-num p { float: left; width: 627px; line-height: 50px; text-align: left; font-size: 20px; font-weight: bold; height: 50px; color: #3BB;}
	.user-num span { float: left; width: 627px; line-height: 30px; text-align: left; font-size: 16px; font-weight: bold; height: 30px;}
	.user-upload-idcard { width: 627px; height: 250px; padding-top: 10px;}
	.user-upload-idcard div { width: 300px; height: 250px; background: url(../img/pngbg.png) repeat; position: relative;}
	.user-upload-idcard div p { line-height: 250px; width: 300px; text-align: center; font-size: 24px; color: #FFF; text-shadow: -1px -1px 1px rgba(51, 51, 51, 0.8);}
	.user-7-upload,.user-7-upload1 { width: 300px; height: 250px; position: absolute; top: 0; left: 0; outline: none; border: 0 outset buttonface; background: none; cursor: pointer;}
	
	.user-7-headtitle { width: 627px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; padding: 20px 0; margin-bottom: 40px;}
	.user-7-type { width: 627px; min-height: 60px; padding-bottom: 12px; margin-bottom: 20px; line-height: 30px; border-bottom: 1px dashed #F2F2F2;}
	.user-7-invite input[type="text"] { width: 617px; border: 1px solid #3BB; line-height: 30px; height: 30px; padding: 4px; outline: none;
font-size: 20px; color: #999;}
	.user-7-invite input[type="button"] { float: left; margin-top: 10px; height: 40px; width: 176px; border: none; color: #FFF; font-size: 18px; background: #3BB; cursor: pointer; font-family: "Microsoft Yahei"; text-shadow: 1px 1px 1px #000;}
	.user-7-invite a { float: left; margin-top: 10px; height: 40px; width: 176px; color: #FFF; font-size: 18px; background: #666; cursor: pointer; text-shadow: 1px 1px 1px #000; line-height: 40px; text-align: center;}
	.user-7-invite a:hover,.user-7-invite input[type="button"]:hover { background: #333;}
	.user-renzheng { padding-left: 35px; padding-right: 50px; font-size: 14px; margin-right: 15px; height: 30px; line-height: 30px; color: #FFF; background-color: #3BB; position: relative;}
	.user-renzheng a { display: block; height: 30px; width: 40px; line-height: 30px; text-align: center; color: #FFF; background: #333; position: absolute; right: 0; top: 0;}
	.user-renzheng span { display: block; height: 30px; width: 40px; line-height: 30px; text-align: center; background: url(../img/user.png) -12px -118px no-repeat; position: absolute; right: 0; top: 0;}

	
/*信息中心*/
.user-msg-nav { width: 200px; margin-left: 50px; position: relative;}
	.user-msg-nav li { float: left; height: 40px; width: 200px; margin-bottom: 10px; position: relative;}
	.user-msg-nav li a { display: block; height: 38px; line-height: 38px; text-align: left; padding-left: 30px; background: #FFF; color: #333; font-size: 14px; cursor: pointer; border: 1px solid #3BB;}
		.user-msg-nav li a:hover { color: #FFF; background: #3BB; -webkit-transition: all 500ms;}
	#user-msg-nav-on {}
	#user-msg-nav-on a { color: #FFF; background: #3BB;}
	.user-msg-nav span { height: 19px; line-height: 19px; border-top: 1px solid #666; border-left: 1px solid #666; padding: 0 5px; background: #999; display: block; position: absolute; top: 10px; right: 15px; font-family: Arial, Helvetica, sans-serif; color: #FFF; text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.8); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;}
.user-left-msg { width: 699px; position: relative;}
.no-message { padding: 0 50px; color: #999; text-shadow: 1px 1px 1px #FFF;}
.user-msg-list {}
	.user-msg-list li { float: left; padding-left: 50px; padding-bottom: 50px;}
		.user-msg-a { height: 159px; width: 159px; background: #FFF; border: 1px solid #CCC; padding: 10px; position: relative;}
	.user-msg-title-system,.user-msg-title-reply,.user-msg-title-other {  line-height: 40px; padding-left: 50px; width: 119px; height: 40px; font-size: 14px; }
		.user-msg-title-system {  background: url(../img/user.png) -65px -296px no-repeat;}
		.user-msg-title-reply { background: url(../img/user.png) -290px -296px no-repeat;}
		.user-msg-title-other { background: url(../img/user.png) -13px -389px no-repeat;}
		.user-msg-a p { float: left; line-height: 20px; height: 80px; overflow: hidden; color: #666;}
		.user-msg-del,.user-msg-read { line-height: 22px; height: 22px; width: 46px; position: absolute; top: 145px; text-align: center; color: #FFF; cursor: pointer;}
			.user-msg-read { left: 30px; background: #3BB;}
				.user-msg-read:hover { background: #333;}
			.user-msg-del { right: 30px; background: #666;}
				.user-msg-del:hover { background: #333;}
		.user-msg-new { display: block; position: absolute; top: 0px; right: 0px; background: url(../img/user.png) -267px -359px no-repeat; width: 25px; height: 25px;}
	.user-msg-page { margin-right: 8px; width: 640px; height: 40px;}
		.user-msg-page a { height: 40px; line-height: 40px; text-align: center; width: 176px; color: #FFF; font-size: 18px; background: #333; cursor: pointer; text-shadow: 1px 1px 1px black;}
		.user-msg-page a:hover { background: #3BB;}
.user-button { width: 176px; height: 40px; padding: 50px 40px; border-top: 1px solid #CCC;}
	.user-button input { float: right; height: 40px; width: 176px; border: none; color: #FFF; font-size: 18px; background: #3BB; cursor: pointer; font-family: "Microsoft Yahei"; text-shadow: 1px 1px 1px #000;}
		.user-button input:hover { background: #333; -webkit-transition: all 500ms;}
		


/* user input and input tip */

.user-normal-div {height:30px;font-size:14px;color:#999;width:310px;position:relative;}
.user-normal-div span {padding:0 4px;display:block;top:0;left:0;line-height:30px;width:302px;position:absolute;}